// Styling for the features section
section.about {
    padding-top:0;
    background : -moz-linear-gradient(44.48% 12.16% -78.67deg,rgba(255, 255, 255, 1) 22.35%,rgba(157, 230, 255, 1) 58.05%,rgba(158, 242, 240, 1) 75.95%,rgba(255, 255, 255, 1) 93.96%);
    background : -webkit-linear-gradient(-78.67deg, rgba(255, 255, 255, 1) 22.35%, rgba(157, 230, 255, 1) 58.05%, rgba(158, 242, 240, 1) 75.95%, rgba(255, 255, 255, 1) 93.96%);
    background : -webkit-gradient(linear,44.48% 12.16% ,56.58% 95.11% ,color-stop(0.2235,rgba(255, 255, 255, 1) ),color-stop(0.5805,rgba(157, 230, 255, 1) ),color-stop(0.7595,rgba(158, 242, 240, 1) ),color-stop(0.9396,rgba(255, 255, 255, 1) ));
    background : -o-linear-gradient(-78.67deg, rgba(255, 255, 255, 1) 22.35%, rgba(157, 230, 255, 1) 58.05%, rgba(158, 242, 240, 1) 75.95%, rgba(255, 255, 255, 1) 93.96%);
    background : -ms-linear-gradient(-78.67deg, rgba(255, 255, 255, 1) 22.35%, rgba(157, 230, 255, 1) 58.05%, rgba(158, 242, 240, 1) 75.95%, rgba(255, 255, 255, 1) 93.96%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
    background : linear-gradient(168.67deg, rgba(255, 255, 255, 1) 22.35%, rgba(157, 230, 255, 1) 58.05%, rgba(158, 242, 240, 1) 75.95%, rgba(255, 255, 255, 1) 93.96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF' , GradientType=1);

    min-height: 1260px;
    
    .white-box {
        min-height: 265px !important;
        margin: 40px;
        .content{
            padding-top: 40px;
            padding-bottom: 20px;
            min-height: 245px;
        }
    }

    .row.boxes{
        padding: 10px;
    }

    .dots{
        width: 90px;
        position: absolute;
        left: calc(50% - 45px);
    }

    .dots-vert {
        position: absolute;
        top: -40px;
        right: 0%;
        height: 134px;
    }

    .auctus-wm {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
