section.about {
    background-color: #141414;
    padding-bottom: 80px;

    .container {
        padding-top: 80px;
    }

    h2 {
        font-family: Gilroy-Bold;
        font-size: 38px;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: 2.7px;
        text-align: center;
        margin-bottom: 60px;
    }

    p {
        font-family: Gilroy-Light;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: 0.4px;
        text-align: left;
    }

    .join-col {
        border-left: 1px solid #2e2e2e;

        @media(max-width:991px) {
            border-left: none;
            border-top: 1px solid #2e2e2e;
        }
    }

    .join {
        font-family: Gilroy-Light;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.44;
        letter-spacing: 0.5px;
        color: #a6a6a6;
        margin-top: 100px;
        margin-left: 50px;

        @media(max-width:991px) {
            margin-left: 0px;
            margin-top: 20px;
            text-align: center;
        }

        .social-icons div {
            display: inline-block;
            margin: 10px 20px;
            color: #e6e6e6;
        }

        .email {
            color: #e6e6e6;
        }
    }

    @media(max-width: 600px) {
        h2 {
            text-align: center;
            font-size: 30px;
        }
    }
}
