
section.about-subscribe {
    background-color: #f7f7f7;
    position: relative;
    height:700px;

    .top-rectangle {
        height: 30px;
        width: 60%;
        background-color: #1c1c1c;
        position: absolute;
        left: 0%;
    }

    .container {
        color: #343434;
        padding-top: 125px;
        min-height: 530px;

        input {
            border: 0;
            border-bottom: 1px solid #555555;
            padding: 10px 15px;
            width: 300px;
            color: #343434;
            margin: 0 35px 35px 0;
            background: transparent;
            @media(max-width:600px){
                width:270px;
            }
        }

        input.invalid {
            border-bottom: 2px solid #e48b8b;
            color: #e48b8b;
        }

        h2 {
            font-family: Gilroy-Medium;
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 200px;

            @media(max-width:600px) {
                font-size: 22px;
                line-height: 1.2;
                margin-bottom: 78px;
                margin-left: 40px;
            }
        }

        hr {
            position: absolute;
            top: 183px;
            left: -150px;
            border-top: solid 1px #156eff;
            width: 150px;

            @media(max-width:600px) {
                top: 180px;
                left: -122px;
            }
        }

        .link-box {
            border: 1px solid #555555;
            padding: 16px 40px 16px 70px;
            width: 300px;
            position: relative;
            display: inline-block;
            cursor: pointer;

            @media(max-width:600px) {
                padding: 16px 34px 16px 34px;
                margin: auto;
                margin-top: 21px;
                width: 180px;
                display: block;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
            }

            img {
                margin-left: 20px;
            }

            .subtitle {
                width: 100%;
                text-align: center;
                font-family: "Gilroy-Light";
                font-style: italic;
                font-size: 16px;
                position: absolute;
                top: 70px;
                display: flex;

                @media(max-width:600px) {
                    left: 0px;
                }
            }
        }
    }

    .dots:before {
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
        display: block;
        font-size: 26px;
        font-family: Georgia;
        color: #b7b7b7;
        max-width: 286px;
        height: 260px;
        overflow: hidden;
        letter-spacing: 16px;
        margin: auto;
        position: absolute;
        left: -75px;
        line-height: 45px;
        z-index: 20;
        top: 60px;

        @media(max-width:600px) {
            max-width: 240px;
            height: 240px;
            left: -58px;
            font-size: 22px;
            line-height: 38px;
        }
    }
}
