// Styling for the features section
section.advisors {
    text-align: center;
    background-color: #fafafa;

    hr {
        width: 100px;
    }

    .section-heading{
        margin-bottom:3rem;
    }

    .advisors-content {
        max-width: 1200px;
        margin: auto;
        margin-bottom: 25px;
    }

    .advisor-card {
        margin: 10px;
        width: 350px;
        position: relative;
        text-align: left;
        display: inline-block;
        vertical-align: top;

        @media (max-width: 490px) {
            width: 240px;
        }

        .card-picture-name {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }

        .card-picture {
            height: 200px;
            border-color: #002d78;
        }

        .card-name-position-linkedin {
            text-decoration: none;
        }

        .card-name-position {
            margin: 15px;
            margin-top: 26px;
            display: inline-block;
            width: calc(100% - 65px);
        }

        .card-linkedin {
            position: absolute;
            right: 15px;
            top: 228px;
            color: #00bdff;
            font-size: 20px;
            display: inline-block;
            border: 2px solid #00bdff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            padding-top: 3px;
            text-align: center;
        }

        .card-name {
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 26px !important;
            line-height: 24px;
            color: rgba(0, 45, 120, 1);
        }

        .card-position {
            font-size: 15px !important;
            color: black;
        }

        .card-description {
            display: inline-block;
            width: 100%;

            .dots {
                height: 10px;
                width: 50%;
                margin: auto;
            }
        }

        .card-description-content {
            font-size: 14px;
            text-align: left;
            padding: 5px 15px 15px 15px;
        }

        .card-read-more {
            padding: 0 15px 15px 15px;
            font-size: 14px;
            font-weight: bold;
            color: #00bdff;
            cursor: pointer;
        }
    }

    .name {
        margin-top: 10px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 20px;
    }

    .position {
        font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 60px;
    }

    .image {
        margin-left: 40px;
    }

    .image:after {
        content: url('../img/team/linkedin-icon.png');
        position: relative;
        z-index: 100;
        right: 26px;
        top: 0px;
    }

    .image.behance:after {
        content: url('../img/team/behance-icon.png');
        position: relative;
        z-index: 100;
        right: 26px;
        top: 0px;
    }
}

img.v {
    position: fixed;
    z-index: 100000;
    bottom: -440px;
    left: -235px;
    transform: rotate(21deg);
    transition: all 0.2s;
}

img.v.visible {
    transition: all 0.2s;
    bottom: -36px !important;
    left: -21px !important;
}
