// Styling for the features section
section.advisors {
    text-align: center;
    background-color: #fafafa;

    hr {
        width: 100px;
    }

    .section-heading {
        margin-bottom: 3rem;
    }

    .advisors-content {
        max-width: 1200px;
        margin: auto;
        margin-bottom: 50px;

        @media (max-width: 490px) {
            max-width: 100%;
        }
    }

    .advisor-card {
        margin: 10px;
        width: 350px;
        position: relative;
        text-align: left;
        display: inline-block;
        vertical-align: top;

        @media (max-width: 490px) {
            width: 320px;
        }

        .card-picture-name {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }

        .card-picture {
            height: 200px;
            border-color: #002d78;
        }

        .card-name-position-linkedin {
            text-decoration: none;
        }

        .card-name-position {
            margin: 15px;
            margin-top: 26px;
            display: inline-block;
            width: calc(100% - 65px);
        }

        .card-linkedin {
            position: absolute;
            right: 15px;
            top: 228px;
            color: #00bdff;
            font-size: 20px;
            display: inline-block;
            border: 2px solid #00bdff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            padding-top: 3px;
            text-align: center;
        }

        .card-name {
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 26px !important;
            line-height: 24px;
            color: rgba(0, 45, 120, 1);
        }

        .card-position {
            font-size: 15px !important;
            color: black;
        }

        .card-description {
            display: inline-block;
            width: 100%;

            .dots {
                height: 10px;
                width: 50%;
                margin: auto;
            }
        }

        .card-description-content {
            font-size: 14px;
            text-align: left;
            padding: 5px 15px 15px 15px;
        }

        .card-read-more {
            padding: 0 15px 15px 15px;
            font-size: 14px;
            font-weight: bold;
            color: #00bdff;
            cursor: pointer;
        }
    }

    .name {
        margin-top: 10px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 20px;
    }

    .position {
        font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 60px;
    }

    .image {
        margin-left: 40px;
    }

    .image:after {
        content: url('../img/team/linkedin-icon.png');
        position: relative;
        z-index: 100;
        right: 26px;
        top: 0px;
    }

    .image.behance:after {
        content: url('../img/team/behance-icon.png');
        position: relative;
        z-index: 100;
        right: 26px;
        top: 0px;
    }

    .modal-back-panel {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;

        @media (max-width: 490px) {
            z-index: 10005
        }

        .modal-card {
            background-color: white;
            width: 520px;
            height: 300px;
            margin: auto;
            margin-top: 17%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #484848;
            padding: 35px;
            text-align: left;

            @media (max-width: 490px) {
                height: 100%;
                width: 100%;
                margin-top: 0;
                position: absolute;
                top: 100%;
                transition: all 0.5s;
            }

            .modal-name {
                font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
                font-size: 26px !important;
                line-height: 24px;
                color: rgba(0, 45, 120, 1);
            }

            .modal-position {
                margin-bottom: 15px;
                display: inline-block;
                width: calc(100% - 65px);
            }

            .modal-description {
                font-size: 14px;
            }

            .close {
                font-size: 14px;
                width: 26px;
                height: 26px;
                border-radius: 13px;
                border: solid 1px #767676;
                padding: 5px 7px;
                color: #767676;
            }
        }
    }

    .modal-back-panel.show {
        visibility: visible !important;
        opacity: 1;
        transition: all 1s;

        @media (max-width: 490px) {
            .modal-card {
                top: 0%;
                transition: all 1s;
            }
        }
    }
}

    img.v {
        position: fixed;
        z-index: 100000;
        bottom: -440px;
        left: -235px;
        transform: rotate(21deg);
        transition: all 0.2s;
    }

    img.v.visible {
        transition: all 0.2s;
        bottom: -36px !important;
        left: -21px !important;
    }


