section.affiliate {
    margin-top: -500px;
    background: -webkit-linear-gradient(0deg, white, #fafafa 30%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(0deg, white, #fafafa 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, white, #fafafa 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, white, #fafafa 30%); /* Standard syntax */
    .section-heading {
        hr {
            width: 100px;
        }
    }

    @media (max-width:500px) {
        margin-top: -350px;
    }

    .give-get {
        font-family: 'Helvetica Neue Bold', 'HelveticaNeue-Bold';
        font-size: 52px;
        color: #366294;
    }



    .blue-background {
        background: #0884cd; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* Standard syntax */
        display: block;
        width: 100%;
        position: absolute;
        height: calc(100% - 500px);
        z-index: -1;
        top: 500px;
    }

    h3 {
        font-size: 28px !important;
        color: #002D78;
        margin-bottom: 30px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px !important;
        margin-bottom: 10px;
        font-weight: bold;
    }

    span {
        font-size: 14px;
        font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light';
        font-weight: bold;
    }



    .videos-container {
        div {
            display: inline-block;
            margin: 15px;

            @media (min-width: 820px) {
                margin-top: 60px;
            }
        }
    }

    .video-text-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .video-text {
            border-left: solid 4px #00BDFF;
            padding-left: 27px;
            z-index: 10;

            @media (max-width:991px) {
                border-left: none;
                padding-left: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .video-play {
        z-index: 10;
    }

    .side-triangle {
        position: relative;
        left: 0;
        top: 1330px;

        @media (max-width:500px) {
            width: 260px;
        }
    }

    .button-div {
        margin: auto;
        border: 4px solid #226493;
        padding: 15px 0px;
        color: #226493;
        z-index: 1000;
        width: 160pt;
        text-align: center;
        height: 60px;
        margin-top: 26pt;
        cursor:pointer;
        span {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            font-size: 12pt !important;
        }
    }


    .experts-row {
        margin-top: 80px;

        @media (max-width:1199px) {
            img {
                width: 350px;
                margin-bottom: 25px;
            }
        }

        @media (max-width:500px) {
            img {
                width: 300px;
                margin-bottom: 25px;
            }
        }
    }

    .monitor-row {
        margin-top: 80px;

        .row + .row {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        h4, span {
            color: #bcbec0;
            transition: all 0.8s;
        }

        [meta-monitor-id] {
            cursor: pointer;
            transition: all 0.8s;
        }

        .active {
            h4 {
                color: #002D78;
            }

            span {
                color: #292b2c;
            }
        }

        @media (max-width:1199px) {
            img {
                width: 350px;
                margin-bottom: 25px;
            }
        }

        @media (max-width:500px) {
            img {
                width: 300px;
                margin-bottom: 25px;
            }
        }
    }

    .pig-container {
        margin: 30px;

        > div {
            width: calc(50% - 54px);
        }

        hr {
            margin-top: 52px;
            border-top: 4px solid #226493;
            width: 85%;
        }

        .pig-coin {
            background-image: url(../img/video/pig.png);
            height: 108px;
            width: 108px;
            margin: auto;
            border: 4px solid #226493;
            border-radius: 50%;
            animation: pig-move 6s linear infinite;
        }
    }

    @keyframes pig-move {
        to {
            background-position: 0 0;
        }

        from {
            background-position: 100% 0;
        }
    }
}
