.come-in {
    animation: come-in 1s ease forwards;
    opacity: 1 !important;
    transition: all 0.7s;
}

.come-in-left {
    transform: translateX(-150px);
}

.come-in-right{
    transform: translateX(150px);
}

.come-in-bottom {
    transform: translatey(150px);
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateX(0);
        transform: translateY(0);
    }
}
