#audit {
    background-color: #141414;
    color: #ffffff;    
    padding-top: 78px;
    padding-bottom: 78px;
    position: relative;

    .container {
        z-index: 1;
        position: relative;
    }

    .bug-bounty-value {
        font-size: 36px;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        line-height: 1;
    }

    .bug-bounty-value span {
        font-size: 16px;
        padding-top: 6px;
    }

    .bug-bounty-value span:first-of-type {
        margin-right: 4px;
    }

    h1 {
        font-size: 28.5px;
        font-weight: normal;
        letter-spacing: 0.71px;
        color: #5de9d4;
        margin-bottom: 24px;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.7px;
        color: #ffffff;
    }

    a {
        padding: 8px;
        width: 235px;
        max-width: 100%;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        text-align: center;
        border: solid 1px white;
        border-radius: 32.5px;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        margin: auto;
        margin-top: 26px;
    }

    .audit-background {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 100%;
    }

    .arrow-link {
        color: white;
    }

    .open-zeppelin-col {
        border-right: 1px solid #7d7d7d80;
    }

    .open-zeppelin-col a,
    .bug-bounty-col a {
        text-decoration: none;
    }

    .logo-openzeppelin {
        margin-top: 4px;
        margin-bottom: 5px;
    }

    @media (max-width: 767px) {    
        .open-zeppelin-col {
            border-right: none;
            border-bottom: 1px solid #7d7d7d80;
            width: auto;
            margin: auto;
        }
    }
}