section.countdown {
    padding-bottom: 5em;
    padding-top: 1rem !important;

    .section-heading {
        margin-bottom: 4rem;

        /*@media (min-width: 1400px) {
            margin-top: 280px !important;
        }

        @media (min-width: 992px) and (max-width: 1399px) {
            margin-top: 220px !important;
        }

        @media (max-width: 991px) {
            margin-top: 40px !important;
        }*/
        // 40px !important
        z-index: 1000;
        position: relative;
        margin-top: 60px;
    }

    .sales-date {
        padding-top: 15px;
        font-size: 18px !important;
        width: 60%;
        margin: auto;

        @media (max-width: 767px) {
            width: 90%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            width: 75%;
        }

        span {
            color: #09d8ba;
            font-weight: bold;

            @media (max-width: 768px) {
                margin: 10px 0px;
            }
        }
    }

    .timer {
        overflow: hidden;
        text-align: center;
        z-index: 1000;
        position: relative;
    }

    .timer > div {
        text-align: center;
        display: inline-block;
    }

    .time-part {
        display: inline-block;
        width: 107px;
        margin-left: 9px;
        margin-right: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    @media (max-width: 768px) {
        .join-whitelist {
            margin: 15px;
        }
    }

    .join-whitelist {
        text-align: center;
        margin-top: 50px;

        a {
            padding: 15px 65px;
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 24px;
            background: #07dce0;
            color: #002d78;
            cursor: pointer;
            border: 0;
            max-width: 380px;

            @media (max-width: 768px) {
                padding: 15px 0px;
                // width: 80%;
            }

            @media (max-width: 380px) {
                padding: 15px 0px;
                width: 100%;
                border-radius: 0;
            }
        }
    }

    .box {
        width: 107px;
        height: 107px;
        border: 2px solid #007fac;
        border-radius: 5px;
        display: inline-block;

        .time-value {
            font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
            font-size: 48px;
            line-height: 65px;
            color: #007fac;
        }

        .time-label {
            font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
            color: #007fac;
            font-size: 16px;
        }
    }

    .join-buttons {
        padding-top: 30px;
        // margin-left: 5%;
        margin-left: 5px;
        z-index: 100;
        position: relative;
        text-align: center;

        h3 {
            color: white;
        }
    }

    @media (max-width: 991px) {
        .join-buttons {
            margin-left: 0px;
        }
    }

    .join-button {
        width: 100%;
        color: white;
        margin-top: 20px;
        // margin: 10px;
    }

    .join-button a:hover, .join-button a:focus, .join-button a:active {
        text-decoration: none;
    }

    .pre-sale-button-div.token-sale {
        max-width: 230px;
        width: 230px;
    }

    .pre-sale-button-div.whitelist {
        max-width: 230px;
        width: 230px;
    }

    .pre-sale-button-div:hover {
        background: rgba(0, 45, 120, 1);
        color: #34dce0;
    }

    .pre-sale-button-div {
        z-index: 1000;
        border-radius: 3px;
        padding: 15px 10px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 16px;
        letter-spacing: 2px;
        background: #007fac;
        color: white;
        cursor: pointer;
        border: 0;
        max-width: 300px;
        margin: auto;
        display: block;
        text-align: center;
    }

    .token-sale-website-button-div {
        border-color: white;
        width: 280px;
        border: solid 1px;
        padding: 10px;
        margin: auto;
    }

    label {
        color: white;
        width: 100%;
    }
}
