// Styling for the download section
section.countdown {
    padding-bottom: 100px;
    background: #0884cd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* Standard syntax */
    .timer {
        text-align: center;
        overflow: hidden;
    }

    .line {
        border-top: 2px solid #00BDFF;
    }

    .time-part {
        display: inline-block;
        width: 150px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box {
        width: 150px;
        height: 160px;
        border: 2px solid rgba(9, 216, 186, 1);
        border-radius: 5px;
        display: inline-block;

        .time-value {
            font-family: 'Helvetica Neue Light';
            font-size: 80px;
            line-height: 110px;
            color: rgba(9, 216, 186, 1);
        }

        .time-label {
            font-family: 'Helvetica Neue Light';
            color: white;
            font-size: 20px;
        }
    }

    .time-part:after {
        content: '';
        position: relative;
        width: 46px;
        height: 2px;
        background-color: #09d8ba;
        top: -84px;
        left: 150px;
        display: block;
    }

    .time-part:first-child:before {
        content: '';
        position: relative;
        height: 2px;
        background-color: #09d8ba;
        top: 78px;
        right: 98px;
        display: block;
        width: 250px;
        right: 250px;
    }

    .time-part:last-child:after {
        width: 2000px;
        left: 148px;
    }

    .line-after {
    }
}

