section.education-trading {
    background-color: #141414;
    position: relative;
    height: unset;

    hr {
        position: absolute;
        left: 280px;
        top: 60px;
        border-top: solid 1px #156eff;
        width: 100px;

        @media(max-width:600px) {
            top: 180px;
            left: -122px;
        }
    }

    h2 {
        padding: 50px 0 50px 130px;
        font-family: Gilroy-light;
        font-size: 31px;
        text-align: left;

        @media(max-width:600px) {
            padding: 54px 0 50px 50px;
        }
    }

    .slick-dots li button:before {
        color: #f7f7f7;
    }

    .trading-container {
        //width: 100%;
        max-width: 1280px;
        margin: auto;
        padding-bottom: 80px;
        margin-left: 120px;

        @media(max-width:600px) {
            margin-left: 15px;
        }
    }

    .trading-card {
        width: 370px;
        max-width: calc(100vw - 26px);
        height: unset;
        border-radius: 2px;
        display: inline-block;
        margin: 13px;
        position: relative;
        vertical-align: top;
        background-color: white;

        @media (max-width:600px)
        {
            max-width: calc(100vw - 26px);
        }

        .img-div {
            height: 234px;
           // max-width: calc(100vw - 26px);
            background-size: cover !important;
            //opacity: 0.5;
            background-position: center;
        }

        .trading-card-title {
            font-family: Gilroy;
            font-size: 24.5px;      
            font-weight: 600;       
            line-height: 1.58;         
            letter-spacing: 1.3px; 
            text-align: center;     
            color: #404040;
            margin: 20px 0 20px 0px;
        }

        .trading-card-summary {   
            font-family: Gilroy;       
            font-size: 14px;      
            font-weight: 100;    
            line-height: 1.43;     
            letter-spacing: 0.4px;     
            text-align: center;       
            color: #404040;
            padding: 10px;
            height: 160px;
        }

        .link-box {
            border: 1px solid #555555;
            padding: 16px 40px 16px 70px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin: 30px 0 40px 80px;

            @media(max-width:600px) {
                padding: 16px 34px 16px 34px;
                margin: auto;
                margin-top: 21px;
                width: 180px;
                display: block;
                margin-bottom: 20px;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
                color: #343434;
            }

            img {
                margin-left: 20px;
            }  
        }

        .no-link-box {
            border: 1px solid #555555;
            padding: 16px 40px 16px 70px;
            position: relative;
            display: inline-block;
            margin: 30px 0 40px 80px;
            background-color: lightgray;

            @media(max-width:600px) {
                padding: 16px 34px 16px 34px;
                margin: auto;
                margin-top: 21px;
                width: 180px;
                display: block;
                margin-bottom: 20px;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
                color: gray;
            }

            img {
                margin-left: 20px;
            }  
        }
    }
}