section.education-submit {
    background-color: #141414;
    position: relative;
    height: unset;
    padding-top: 10px;

    .submit-left-col {
        //width: 520px;
        //max-width: calc(100vw - 26px);
        height: unset;
        border-radius: 2px;
        display: inline-block;
        margin: 59px 0px 0px 198px;
        position: relative;
        vertical-align: top;

        @media(max-width: 600px){
            margin: 9px 0px 0px 18px;  
            width: 90%;
        }
        
        hr {
            position: absolute;
            left: -150px;
            top: 15px;
            border-top: solid 1px #156eff;
            width: 140px;

            @media(max-width:600px) {
                visibility: hidden;
            }
        }

        h2 {
            background-color: #141414;
            text-align: left;     
            font-family: Gilroy;
            font-size: 33.5px;
            font-weight: 500;
            line-height: 1.25;     
            letter-spacing: 0.8px;     
            text-align: left;  
            color: #ffffff;

            @media(max-width:600px) {
                width: 90%;
            }
        }
    
        .submit-left-col-summary {
            left: 34px;
            color:#e6e6e6;
            font-size: 15.5px;
            font-weight: 100;
            width: 400px;
            line-height: 1.39;
            letter-spacing: 0.4px;    
            
            @media(max-width:600px) {
                width: 90%;
            }
        }

        .dots:before {
            content: ". . . . . . . . . . . . . . . . . . . . . . . . .";
            display: block;
            font-size: 26px;
            font-family: Georgia;
            color: #b7b7b7;
            max-width: 215px;
            height: 260px;
            overflow: hidden;
            letter-spacing: 16px;
            margin: auto;
            position: absolute;
            left: 180px;
            line-height: 45px;
            z-index: 20;
            top: 110px;
    
            @media(max-width:1310px) {
                visibility: hidden;
            }
        }
    }

    .submit-right-col {
        width: 590px;        
        margin: 59px 0px 0px 70px;
        //max-width: calc(100vw - 26px);
        height: unset;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        vertical-align: top;

        @media (max-width: 700px) {
            display: block;
            width: auto;   
            margin-left: 18px;        
        }

        hr {
            color: #141414;
        }

        input {
            background: #141414;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-style: groove;
            border-bottom-width: 1px;
            width: 290px;

                @media (max-width: 600px) {
                    width: 90%;           
                }

            }

        input[id="subject"]{
            width: 580px;

            @media (max-width: 600px) {
                width: 90%;           
            }
        }

        textarea{
            background: #141414;
            border-style: groove;
            border-bottom-width: 1px;
            width: 590px;
            height: 120px;

            @media (max-width: 600px) {
                width: 90%;
                           
            }
        }

        .link-box {
            border: 1px solid #555555;
            padding: 16px 40px 16px 70px;
            //width: 300px;
            position: relative;
            //display: inline-block;
            float: right;
            cursor: pointer;

            @media(max-width:600px) {
                padding: 16px 34px 16px 34px;
                margin: auto;
                margin-top: 21px;
                width: 180px;
                display: block;
                float: inherit;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
            }

            img {
                margin-left: 20px;
            }  
        }

    }

    input.invalid {
        border-bottom: 2px solid #e48b8b;
        color: #e48b8b;
    }
}
