section.experts {
    height: 340px;
    background: #1c1c1c;

    .quote {
        position: absolute;
        width: 90%;

        .dots:before {
            content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
            display: block;
            font-size: 26px;
            font-family: Georgia;
            color: #5d5c5c;
            max-width: 286px;
            height: 260px;
            overflow: hidden;
            letter-spacing: 16px;
            margin: auto;
            position: absolute;
            left: -78px;
            line-height: 45px;
            z-index: 20;
        }

        hr {
            position: absolute;
            top: 130px;
            left: -110px;
            border-top: solid 1px #156eff;
            width: 150px;
        }

        span {
            font-family: Gilroy-LightItalic;
            font-size: 26px;
            z-index: 100;

            @media(max-width:1200px) {
                font-size: 18px;
            }

            @media(min-width:1201px) {
                line-height: 34px;
                letter-spacing: 0.7px;
            }

            position: absolute;
            top: 87px;
            left: 65px;
        }
    }
}
