@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
}
