// Styling for the footer
footer {
    position: relative;
    top: -200px;

    .navigation-icons i {
        font-size: 25px;
        border: 2px solid #002d78;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding-left: 7px;
        padding-top: 7px;
        margin: 10px 10px;
        color: #002d78;
    }

    .fa-facebook{
        padding-left: 10px !important;
    }

    .fa-medium{
        padding-left: 5px !important;
    }

    .fa-twitter{
        padding-left: 8px !important;
    }

    @media (max-width: 768px){
        .navigation-icons {
            margin-top: 20px;
        }
    }

    @media (max-width: 768px){
        .logo {
            text-align: center;
        }
    }
}
