// Styling for the footer
footer {
    position: relative;

    .footer-logo {
        height: 38px;
    }

    .legal-container {
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: 0.3px;
        text-align: left;
        color: white;
        padding: 60px 0px;

        a {
            color: white !important;
            text-decoration: underline !important;
            font-weight: bold;
        }
    }

    .copyright {
        padding: 20px 0;
        font-size: 9.5px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 1.9px;
        text-align: center;
        color: #ffffff;
    }   

    .social-icons {
        font-size: 20px;
        color: #5de9d4;
    }

    .social-icons i {
        margin: 5px;
    }
}
