// Styling for the footer
footer {
    position: relative;
    color: #3f3f3f;
    .navigation-icons {
        padding-top: 40px;

        a {
            text-decoration: unset;

            i {
                font-size: 25px;
                border: 2px solid #626669;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding-top: 7px;
                margin: 3px;
                color: #626669;
            }
        }
    }

    @media (max-width: 768px) {
        .navigation-icons {
            margin-top: 20px;
        }
    }

    @media (max-width: 768px) {
        .logo {
            text-align: center;
        }
    }



    .separator {
        border-top: 2px solid #282828;
        margin: 15px -15px;
    }

    .legal-container {
        font-size: 0.9rem;
        color: #828282;
        padding-left: 25px;
        padding-right: 25px;

        a {
            color: #828282 !important;
            text-decoration: underline !important;
            font-weight: bold;
        }

        .disclaimer {
            @media (min-width: 991px) {
                margin-left: 10px;
            }

            @media (max-width: 991px) {
                margin-top: 25px;
            }
        }
    }

    .association-box {
        padding-top: 10px;
        margin: 10px 35px;
        
        @media(max-width:490px) {
            margin: 10px;
        }

        img {
            max-height: 105px;
        }

        img:last-child {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }

    .copyright {
        margin: 15px -15px;
        text-align: center;
    }

   
}
