section.get-involved {
    position: relative;    
    height: unset;
    color: #ffffff;
    position: relative;

    .involved-background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-image: url('/img/getinvolved/background.png');
        background-position-x: left;
        background-repeat: no-repeat;
        top: 0;
        @media(max-width:767px) {
            opacity: 0.5;
        }
    }

    .container {
        padding-top: 90px;
        padding-bottom: 90px;
        
        @media (max-width: 600px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        img {
            margin-bottom: 16px;
        }

        .get-involved-details {
            z-index: 1;
            width: 360px;
            max-width: 100%;
            padding-left: 10px;
            padding-right: 10px;

            @media(max-width:767px) {
                margin: auto;
            }

            h2 {
                font-size: 28px;
                letter-spacing: 0.7px;

                i.fa-discord {
                    font-size: inherit;
                    margin: 0 10px 0 0;
                }        
            }

            p {
                font-size: 16px;
                font-weight: 100;
                line-height: 1.75;
                margin-bottom: 30px;
                margin-top: 30px;
            }

            .connect-link {
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: normal;
                cursor: pointer;
                display: flex;
                align-items: center;
                text-decoration: none;

                i.fa-chevron-right {
                    font-size: 14px;
                }
            }

            .connect-link:hover {
                color: #eeeeee;
            }
        }
    }
}
