// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    font-family: Gilroy,'Gill Sans Light', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a{
    cursor: pointer;
    color:inherit !important;
}

.container {
    @media (min-width: 576px) and (max-width: 600px){
        width: unset;
        max-width: unset;
    }
}
.center {
    text-align:center;
}

@media (max-width: 600px) {
    .web-only {
        display: none !important;
    }
}

@media (min-width: 601px) {
    .mobile-only {
        display: none !important;
    }
}

a:hover{
    text-decoration:none !important;
}