// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    font-family: Gilroy,'Gill Sans Light', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a{
    cursor: pointer;
    color:inherit !important;
}

.container {
    @media (min-width: 576px) and (max-width: 600px){
        width: unset;
        max-width: unset;
    }
}
.center {
    text-align:center;
}

@media (max-width: 600px) {
    .web-only {
        display: none !important;
    }
}

@media (min-width: 601px) {
    .mobile-only {
        display: none !important;
    }
}

a:hover{
    text-decoration:none !important;
}

.top-banner {
    padding: 6px 30px;
    background-color: #3fcf63;
    color: white;
    display: flex;
    flex-direction: row;
    font-stretch: normal;
    font-style: normal;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;

    @media (max-width: 720px) {
        flex-direction: column;
    }

    .banner-title {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0.43px;
    }

    .banner-subtitle {
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0.33px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .banner-button {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.65px;
        text-align: center;
        color: #ffffff;
        padding: 5px 26px;
        line-height: 1;
        border-radius: 14px;
        border: 2px solid white;

        @media (max-width: 720px) {
            margin: 5px 0;
        }

        &:hover {
            background-color: #ffffff;
            color: #3fcf63;
        }
    }

    .banner-dismiss {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
}

.clickable {
    cursor: pointer;
}