section.latestnews {
    #news-card-template {
        //display: none;
    }

    .news-container {
        width: calc(100% - 120px);
        max-width: 1025px;
        margin: auto;
    }


    .news-card {
        width: 315px;
        max-width: 100%;
        height: 349px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        display: inline-block;
        margin: 13px;
        position: relative;
        vertical-align: top;

        @media(max-width: 430px) {
            width: 240px !important;
        }

        .img-div {
            width: 100%;
            height: 180px;
            background-size: cover !important;
        }

        .news-card-dots {
            margin-top: 15px;
            width: 104px;
        }

        .news-card-title {
            font-size: 22px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: 1.4px;
            text-align: left;
            margin: 10px 20px;
            max-height: 78px;
            height: 78px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: black;
        }

        .news-card-date {
            position: absolute;
            display: block;
            bottom: 20px;
            left: 20px;
            color: #939598;
        }
    }
}
