// Styling for the masthead
header.masthead {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: white;
    background: #0884cd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(180deg, #04148c 12%, #0884cd 84%, #0bdace 100%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(180deg, #04148c 12%, #0884cd 84%, #0bdace 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #04148c 12%, #0884cd 84%, #0bdace 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #04148c 12%, #0884cd 84%, #0bdace 100%); /* Standard syntax */
    @media (max-width: 768px) {
        background: #0884cd; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace ); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace ); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace); /* For Firefox 3.6 to 15 */
        background: linear-gradient(168deg, #04148c 8%, #0884cd 35%, #0bdace); /* Standard syntax */
    }



    .header-content {
        height: 100vh;
        min-height: 600px;
        padding: 0;
        text-align: left;



        .header-content-inner {
            position: absolute;
            top: 50%;
            max-width: none;
            margin: 0;
            transform: translateY(-50%);

            h1 {
                font-size: 35px;
            }
        }
    }

    .top-header {
        height: 85px;
        width: 100%;
        position: fixed;
        padding-left: 6%;
        background: rgba(4, 20, 140, 0.7);
        z-index: 100;
        transition: all 0.2s;


        @media (max-width: 768px) {
            margin: 0;
            width: 100%;
            text-align: center;
            margin-left: unset !important;
        }

        .logo {
            margin: 15px 0 5px 0;

            @media (max-width: 768px) {
                display: block;
                -moz-transform: scale(0.9);
                -o-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                margin-left: auto;
                margin-right: auto;
            }
        }

        .menu {
            display: inline;
            position: relative;
            left: 5%;
            top: 12px;
            text-align: center;

            a > span {
                color:white;
                margin: 12px;
                cursor: pointer;
                font-family: "Helvetica Neue Light","HelveticaNeue-Light";
            }

            span:hover {
                font-weight: bold;
                transition: all 0.2s;
            }
        }
    }

    .top-header:hover {
        background: rgba(4, 20, 140, 1);
        transition: all 0.2s;
    }

    .right-blue-panel {
        display: block !important;
        width: 32%;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;

        a {
            text-decoration: unset;
        }

        i.fa {
            display: inline-block;
            font-size: 25px;
            color: #00fcfc;
            margin: 15px 3px;
            border: 2px solid #00fcfc;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            padding-top: 6px;
        }

        i.fa:hover {
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px #00fcfc;
        }
    }


    .header-circles {
        position: absolute;
        top: 55%
    }

    .waves {
        position: absolute;
        bottom: 23px;
        right: 170px;
    }

    .pig {
        position: absolute;
        top: 120px;
        right: -12%;
        display: block;
        z-index: 100;

        @media (min-width: 1500px ) {
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            top: 200px;
            right: 0;
        }

        @media (max-width: 1200px ) {
            -moz-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
            top: 50px;
            right: -260px;
        }


        @media (max-width: 768px) {
            display: block;
            -moz-transform: scale(0.4);
            -o-transform: scale(0.4);
            -webkit-transform: scale(0.4);
            transform: scale(0.4);
            top: 75px;
            left: 50%;
            margin-left: -435px;
        }
    }

    @media (max-width: 768px) {
        .button-div {
            margin-bottom: 30px;
        }
    }



    .button-div {
        display: inline-block;
        border: 2px solid white;
        margin-top: 10pt;
        font-family: "Helvetica Neue","HelveticaNeue";
        font-size: 12pt !important;
        padding: 70px 15px 15px 15px;
        color: white;
        z-index: 1000;
        min-width: 135pt;
        text-align: center;
        height: 110px;

        i.fa {
            margin-right: 13px;
        }
    }

    @media (max-width: 768px) {
        .button-div:first-of-type {
            margin-top: 65%;
            margin-bottom: 40px;
        }
    }

    .button-div:hover {
        z-index: 1000;
        cursor: pointer;
        color: #002D78;
        background-color: white;
        font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
    }

    .text-container {
        padding: 200px 0 0 6%;
        width: 68%;
        position: relative;

        h1 {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            font-size: 37pt;
            color: white;
            margin-bottom: 20pt
        }

        h2 {
            font-family: "Helvetica Neue Light","HelveticaNeue-Light";
            font-size: 20pt !important;
            color: white;
            margin: 0;
        }

        h3 {
            font-family: "Helvetica Neue Light","HelveticaNeue-Light";
            font-size: 13pt !important;
            color: white;
            margin: 0;
        }

        @media (max-width: 768px) {
            text-align: center;
            padding: 150px 0 0 0;
            margin-left: unset !important;
            width: 100%;

            h1 {
                font-size: 27pt;
            }

            h2 {
                font-size: 15pt !important;
            }

            h3 {
                font-size: 13pt !important;
            }
        }
    }

    .eth-machine {
        position: absolute;
        top: 60px;
        right: 36px;
    }
}
