header.masthead {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 450px;
    max-height: 753px;
    padding-top: 20px;

    &.banner-removed {
        padding-top: 0px;
    }
    
    @media(max-width: 720px) {
        padding-top: 80px;
    }

    @media(max-width: 600px) {
        height: 310px;
    }

    .background-images {
        .right {    
            position: absolute;
            right: 0;
            max-height: 100%;
            max-width: 50%;
        }

        .left {    
            position: absolute;
            left: 0;
            top: 19%;
        }
    }

    .top-menu {
        position: absolute;
        width: 100%;
        top: 30px;
        padding: 0 90px;
        margin-left: -15px;
        align-content: space-between;
        justify-content: space-between;
        display: flex;

        img {
            height: 37px;
        }

        > div:first-child {
            img {
                margin-right: 80px;
            }

            div {
                padding: 10px 10px;
                margin-right: 10px;
            }

            div:last-child {
                margin-right: 0px;
            }

            div.active {
                border-bottom: 2px solid #126efd;
            }
        }

        @media(max-width: 800px) {
            padding: 0 20px;

            > div:first-child img {
                margin-right: 40px;
            }
        }

        @media(max-width: 600px) {
            padding: 0 5px;
            font-size: 10px;
            top: 15px;
        }

        .social-icons {
            font-size: 20px;
            color: white;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: 991px) {
                color: #1b1b1b;
            }
        }
    
        .social-icons i {
            margin: 0 10px;
        }
    }

    .container {
        height: 100%;
        padding-top: 15%;
        position: relative;

        @media(max-width: 600px) {
            padding-top: 40px;
        }

        .message-panel {
            position: absolute;
            top: 25%;
            max-width: 500px;
            width: 70%;

            h1 {
                font-size: 40px;
                font-weight: bold;
                line-height: 1.16;
                letter-spacing: 1px;
                color: #1b1b1b;
            }

            span {
                max-width: 460px;
                display: block;
                font-weight: 500;
                font-size: 22px;
                line-height: 1.55;
                letter-spacing: normal;
                color: #1b1b1b;
                margin-top: 32px;

                @media(max-width: 600px) {
                    font-size: 16px;
                }
            }

            @media(max-width: 991px) {
                left: unset;
                text-align: center;
                margin: auto;
                width: 90%;
                position: relative;
                top: unset;

                span {
                    margin: auto;
                }

                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}
