section.monetization {
    background: -webkit-linear-gradient(#00E3FF -45%, #074EF1 57%, #071E96 100%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(#00E3FF -45%, #074EF1 57%, #071E96 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00E3FF -45%, #074EF1 57%, #071E96 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00E3FF -45%, #074EF1 57%, #071E96 100%); /* Standard syntax */
    padding-bottom: 12em;
    padding-top: 17rem;

    .item {
        display: inline-block;
        // margin: 0 50px 0 50px;
    }

    .circle {
        border: 2px solid white;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        margin: 0 auto;

        img {
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }
    }

    .title {
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 24px !important;
        color: white;
    }

    .description {
        margin: 20px 46px;
        font-family: 'Helvetica Neue', 'HelveticaNeue';
        font-size: 18px !important;
        color: white;
    }

    .icon img {
        margin-top: 13px;
    }
}
