@media (min-width: 1400px) {
    section.monetization {

        .left-blue-div {
            width: 3000px !important;
            right: -80% !important;
        }

        .right-blue-div {
            height: 400px !important;
            top: 5% !important;
        }
    }
}

section.monetization {
    padding-bottom: 2em;
    padding-top: 9rem;

    .left-blue-div {
        background: linear-gradient(257deg, #03158c, #0884cd);
        background: -webkit-linear-gradient(257deg, #03158c, #0884cd); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(257deg, #03158c, #0884cd); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(257deg, #03158c, #0884cd); /* For Firefox 3.6 to 15 */
        background: linear-gradient(257deg, #03158c, #0884cd); /* Standard syntax */
        width: 2000px;
        height: 1000px;
        position: absolute;
        transform: rotate(184deg);
        right: -20%;
        top: 13%;
        // z-index: 2;
    }

    @media (max-width: 991px) {
        background: linear-gradient(257deg, #03158c, #0884cd);
        background: -webkit-linear-gradient(257deg, #03158c, #0884cd); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(257deg, #03158c, #0884cd); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(257deg, #03158c, #0884cd); /* For Firefox 3.6 to 15 */
        background: linear-gradient(257deg, #03158c, #0884cd); /* Standard syntax */
        padding-top: 2rem;

        .section-heading h2 {
            color: white;
            font-size: 34px !important;
        }

        .section-heading hr {
            border-top: 4px solid white;
        }

        .right-blue-div {
            display: none;
        }

        .left-blue-div {
            display: none;
        }
    }

    .content {
        z-index: 10
    }

    .right-blue-div {
        background: linear-gradient(9deg, #24a6e8, #06d2d7);
        background: -webkit-linear-gradient(9deg, #24a6e8, #06d2d7); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(9deg, #24a6e8, #06d2d7); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(9deg, #24a6e8, #06d2d7); /* For Firefox 3.6 to 15 */
        background: linear-gradient(9deg, #24a6e8, #06d2d7); /* Standard syntax */
        width: 2000px;
        height: 200px;
        position: absolute;
        left: 20%;
        top: 8%;
        z-index: -1;
        transform: rotate(174deg);
    }


    .item {
        display: inline-block;
    }

    .circle {
        border: 2px solid white;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        margin: 0 auto;

        img {
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }
    }

    .title {
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 24px !important;
        color: white;
    }

    .description {
        margin: 20px 46px;
        font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light';
        font-size: 18px !important;
        color: white;
    }

    .icon img {
        margin-top: 13px;
    }
}
