// Styling for the masthead
header.presale-masthead {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: white;
    background: #0884cd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(168deg, #04148c 18%, #0884cd 54%, #0bdace 95%, #ffffff 105%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(168deg, #04148c 18%, #0884cd 54%, #0bdace 95%, #ffffff 105%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(168deg, #04148c 18%, #0884cd 54%, #0bdace 95%, #ffffff 105%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(168deg, #04148c 18%, #0884cd 54%, #0bdace 95%, #ffffff 105%); /* Standard syntax */
    @media (max-width: 768px) {
        background: #0884cd; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace ); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace ); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(168deg, #04148c 13%, #0884cd 35%, #0bdace); /* For Firefox 3.6 to 15 */
        background: linear-gradient(168deg, #04148c 8%, #0884cd 35%, #0bdace); /* Standard syntax */
    }

    .top-header {
        background: transparent;
        height: 85px;

        @media (max-width: 768px) {
            text-align: center;
            margin-left: unset !important;
        }
    }

    .header-content {
        height: 100vh;
        min-height: 600px;
        padding: 0;
        text-align: left;



        .header-content-inner {
            position: absolute;
            top: 50%;
            max-width: none;
            margin: 0;
            transform: translateY(-50%);

            h1 {
                font-size: 35px;
            }
        }
    }

    .top-left {
        position: absolute;
        margin-left: 6%;
        z-index: 100;

        @media (max-width: 768px) {
            margin-left: -35px;
            margin-top: -50px;
        }
    }

    .top-header {
        position: absolute;
        margin-left: 15%;
        background: transparent;
        height: 85px;
        z-index: 100010;

        @media (max-width: 768px) {
            margin: 0;
            width: 100%;
            text-align: center;
            margin-left: unset !important;
        }

        .logo {
            margin-top: 25px;


            @media (max-width: 768px) {
                display: block;
                -moz-transform: scale(0.9);
                -o-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .right-presale-panel {
        display: block !important;
        height: 90%;
        width: 32%;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;

        .navigation-icons {
            padding-left: 5%;

            a {
                text-decoration: unset;
            }

            i.fa {
                display: inline-block;
                font-size: 25px;
                color: #00fcfc;
                margin: 20px 10px;
            }

            i.fa:hover {
                cursor: pointer;
                border-radius: 50%;
                box-shadow: 0px 0px 10px #00fcfc;
            }
        }
    }



    @media (max-width: 768px) {
        .button-div {
            margin-bottom: 30px;
        }
    }

    #topMenu {

        i {
            color: #002d78;
            font-size: 45px;
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            i.fa-bars {
                font-size: 27px;
                position: absolute;
                right: 15px;
                top: 10px;
            }
        }
    }


    #topMenu.open .quarter-circle {
        background: #04148c;
        background: -webkit-linear-gradient(168deg, #04148c, #0884cd);
        background: -o-linear-gradient(168deg, #04148c, #0884cd);
        background: -moz-linear-gradient(168deg, #04148c, #0884cd);
        background: linear-gradient(168deg, #04148c, #0884cd);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        position: absolute;
        right: -386px;
        top: -350px;
        width: 900px;
        height: 1000px;
        z-index: 10000;
        transition: all 1s;

        i {
            color: #002d78;
            font-size: 45px;
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            right: -60%;
            height: 180%;
            width: 150%;

            i.fa-bars {
                font-size: 27px;
                position: absolute;
                right: -385px;
                top: -170px;
            }
        }
    }


    .button-div {
        display: inline-block;
        border-radius: 8px;
        border: 2px solid white;
        margin-top: 35pt;
        font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
        font-size: 14pt !important;
        padding: 15px;
        color: white;
        z-index: 1000;

        @media (max-width: 768px) {
            margin-top: 65%;
            margin-bottom: 40px;
        }

        i.fa {
            margin-right: 13px;
        }
    }

    .button-div:hover {
        z-index: 1000;
        cursor: pointer;
        color: #d7d6d6;
        border: 2px solid #d7d6d6;
    }

    .text-container {
        text-align: center;
        z-index: 1000;
        width: 100%;
        position: relative;
        padding: 0;

        h1 {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            font-size: 37pt;
            color: #00fcfc;
            margin-bottom: 5pt
        }

        h2 {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            letter-spacing: 2px;
            font-size: 20pt !important;
            color: white;
            margin: 0;
        }

        h3 {
            font-family: "Helvetica Neue Light","HelveticaNeue-Light";
            font-size: 13pt !important;
            color: white;
            margin: 0;
        }

        @media (max-width: 768px) {
            text-align: center;
            padding: 120px 0 0 0;
            margin-left: unset !important;
            width: 100%;

            h1 {
                font-size: 27pt;
            }

            h2 {
                font-size: 12pt !important;
            }

            h3 {
                font-size: 10pt !important;
            }
        }
    }

    .timer {
        margin: 20px 0;
        text-align: center;
        overflow: hidden;
    }

    .timer > div {
        text-align: center;
        display: inline-block;
    }

    .time-part {
        display: inline-block;
        width: 148px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .box {
        width: 130px;
        height: 130px;
        border: 2px solid #00fcfc;
        border-radius: 5px;
        display: inline-block;

        .time-value {
            font-family: 'Helvetica Neue Light';
            font-size: 58px;
            line-height: 88px;
            color: #00fcfc;
        }

        .time-label {
            font-family: 'Helvetica Neue Light';
            color: #00fcfc;
            font-size: 16px;
        }
    }

    @media (min-width: 768px) {
        .time-part:after {
            content: '';
            position: relative;
            width: 64px;
            height: 2px;
            background-color: #00fcfc;
            top: -68px;
            left: 138px;
            display: block;
        }

        .days:before {
            content: '';
            position: relative;
            height: 2px;
            background-color: #00fcfc;
            top: 64px;
            display: block;
            width: 1000px;
            right: 990px;
        }

        .seconds:after {
            width: 1000px;
            left: 138px;
        }
    }

    a.btn {
        position: relative;
        z-index: 1000;
        padding: 15px 55px;
        font-family: 'Helvetica Neue Bold';
        font-size: 20pt;
        letter-spacing: 3px;
        background: #030387;
        color: #00fcfc;
        cursor: pointer;
        max-width: 380px;
        margin: 20px auto;
        display: block;
        border-radius: 5px;
    }

    a.btn.focus, a.btn:focus {
        outline: none !important;
        box-shadow: none !important;
        -moz-outline-style: none !important;
    }

    @media (max-width: 768px) {
        a.btn {
            margin: 20px auto;
            padding: 15px 30px !important;
        }
    }

    a.btn:active, a.btn:focus {
        outline: 0;
        -moz-outline-style: none
    }




    .bottom-waves {
        min-height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-image: url("../img/presale/waves.png");
        pointer-events: none;
    }

    .modal .popup-title {
        text-align: center;
        font-family: 'Helvetica Neue Bold';
        font-size: 26px;
        color: #002D78;
    }

    .modal .popup-subtitle {
        text-align: center;
        font-family: 'Helvetica Neue Bold';
        font-size: 16px;
        color: #4D4D4D;
    }

    .modal-dialog {
        max-width: 600px !important;
    }

    .modal p {
        font-family: 'Helvetica Neue Light';
        color: #4D4D4D;
        font-size: 14px;
    }

    .modal-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .modal-header {
        border-bottom: none !important;
    }

    @media (min-width: 768px) {
        .close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 40px;
        }
    }

    @media (max-width: 768px) {
        .close {
            position: absolute;
            left: 10px !important;
            top: 5px;
            font-size: 40px;
        }
    }

    .popup-footer {
        text-align: center;
        margin-bottom: 30px;

        .btn {
            padding: 15px 45px;
            font-family: 'Helvetica Neue Bold';
            font-size: 16pt;
            letter-spacing: 3px;
            background: #00B1FF;
            color: #002D78;
            cursor: pointer;
            margin: 20px auto;
            display: block;
            border-radius: 5px;
        }

        .copy-button {
            display: none;
            min-width: 300px;
        }
    }

    .address-copy {
        .instruction {
            padding-top: 10px;
        }

        .ens-address {
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
            font-family: 'Helvetica Neue Bold';
        }

        .separator {
            font-size: 18px;
            text-align: center;
            font-family: 'Helvetica Neue Light';
        }

        @media (min-width: 768px) {
            .separator:before {
                content: '';
                display: block;
                width: 90px;
                height: 1px;
                background: #6f6e6e;
                position: absolute;
                left: 185px;
                top: 161px;
            }

            .separator:after {
                content: '';
                display: block;
                width: 90px;
                height: 1px;
                background: #6f6e6e;
                position: absolute;
                left: 320px;
                top: 161px;
            }
        }

        p.text-box {
            text-align: center;

            input {
                width: 500px;
                padding: 10px;
                text-align: center;
                font-size: 14pt;
                font-family: 'Helvetica Neue Light';
                outline: none;
                border: 1px solid #4D4D4D;

                @media(max-width:650px) {
                    width: calc(100% + 80px);
                    margin-right: -40px;
                    margin-left: -40px;
                }

                @media(max-width:530px) {
                    font-size: 12px;
                }
            }
        }
    }
}

.circle-logo {
    margin: auto;
    display: block;
    z-index: 100;
    margin-top: -115px;
    margin-bottom: -35px;
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);

    @media (min-width: 1500px ) {
		margin-bottom: 40px;
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    @media (max-width: 1200px ) {
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }


    @media (max-width: 768px) {
        display: block;
		margin-bottom: -150px;
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        top: 120px;
        left: 50%;
        margin-left: -260px;
    }
}

section.as-seen-on {
    padding-top: 5rem !important;
    min-height: 800px;
    background: linear-gradient( #efefef 80%, white 99%); /* Standard syntax */
    .links {
        padding: 20px 60px;
        align-content: center;

        @media (max-width: 648px) {
            padding: 20px 15px;
        }

        .link-box {
            margin: 0 auto 65px auto;
            background-color: white;
            height: 180px;
            width: 320px;
            background-position: center;
            background-repeat: no-repeat;
        }

        @media (min-width: 648px) {
            > div:last-child {
                padding: 0 16%;
            }
        }

        .merkle {
            background-image: url(../img/presale/merkle.png);
        }

        .cryptocoinsnews {
            background-image: url(../img/presale/cryptocoinsnews.png);
        }

        .icobench {
            background-image: url(../img/presale/icobench.png);
        }

        .cointelegraph {
            background-image: url(../img/presale/cointelegraph.png);
        }

        .bitcoinist {
            background-image: url(../img/presale/bitcoinist.png);
        }
    }
}

section.resources {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    //min-height: 1000px;
    //background-color: white;
    .resource-card {
        vertical-align: top;
        background: white;
        max-width: 480px;
        min-height: 340px;
        -webkit-box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        -moz-box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        display: inline-block;
        border-radius: 5px;
        border: 1px solid rgb(216,216,216);
        margin: 30px;

        .dots {
            width: 80px;
            left: calc(50% - 40px);
            position: relative;
        }

        .resource-card-title {
            padding-top: 25px;
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: bold;
            color: rgb(3,3,135);
        }

        .resource-img {
            display: inline-block;
            padding-left: 30px;
            padding-right: 30px;

            @media(min-width:473px) {
                float: left;
            }
        }

        .resource-content {
            display: inline-block;
            width: 100%;
        }

        .whitepaper-resource-description, .presentation-resource-description {
            font-size: 18px;
        }

        .whitepaper-resource-description {
            padding: 40px 30px;
        }

        .presentation-resource-description {
            padding: 30px 30px;
        }

        .download-button {
            position: relative;
            z-index: 1000;
            padding: 10px 10px;
            font-family: 'Helvetica Neue Bold';
            font-size: 16pt;
            letter-spacing: 3px;
            background: #030387;
            color: #00fcfc;
            cursor: pointer;
            border: 0;
            border-radius: 3px;
            max-width: 250px;
            margin: 25px auto;
            display: block;
        }
    }

    @media (min-width: 480px) {
        .resource-card {
            width: 400px;
        }
    }

    @media (min-width: 560px) {
        .resource-card {
            width: 480px;
        }
    }
}

.background-resources {
    position: relative;
    overflow: hidden;

    .background-resources-first,
    .background-resources-second {
        display: block;
        width: calc(100% + 800px);
        position: absolute;
        height: calc(100% - 100px);
        z-index: -1;
        top: 460px;
        left: -400px;
        background: #0884cd; /* For browsers that do not support gradients */
    }

    .background-resources-first {
        transform: rotate(10deg);
        background: -webkit-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* Standard syntax */
    }

    .background-resources-second {
        transform: rotate(-10deg);
        background: -webkit-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* Standard syntax */
    }
}

footer.presale-footer {
    position: unset;
    margin-bottom: 70px;
}

section.faq .text-center {
    margin-top: 35px;
}

section.faq .text-center a {
    color: #09d8ba;
    font-weight: bold;
}