// Styling for the masthead
header.presale-masthead {
    h2 {
        text-align: center;
        font-size: 48px;
        color: #00fcfc;
    }

    h4 {
        text-align: center;
        font-size: 20px;
        color: white;
        margin-top: 40px;
        margin-bottom: 10px;
    }


    .progress-div {
        height: 100px;

        .progress-container {
            width: 80%;
            height: 40px;
            border: 3px solid white;
            margin: auto;
            border-radius: 20px;
            padding: 5px;

            .sale-progress-bar {
                height: 24px;
                border-radius: 16px 0 0 16px;
                width: 40%;
                color: #fff;
                background-color: #ddd;
                text-align: right;
                padding: 0 10px;
                position: relative;

                span {
                    font-family: 'Helvetica Neue Bold',HelveticaNeue-Bold;
                    color: #045daf;
                    font-weight: 900;
                }
            }

            .sale-progress-bar > span:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
                z-index: 1;
                background-size: 50px 50px;
                animation: move 2s linear infinite;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                overflow: hidden;
            }

            .sale-progress-bar > span:after, .animate > span > span {
            }

            @keyframes move {
                0% {
                    background-position: 0 0;
                }

                100% {
                    background-position: 50px 50px;
                }
            }

            .sale-progress-bar > span:after, .animate > span > span {
                animation: move 2s linear infinite;
            }

            .min-cap-mark {
                border: 1.5px solid #fafafa;
                background: black;
                height: 20px;
                position: relative;
                width: 0px;
                top: 5px;
                left: 30%;

                .label-text {
                    background: #045daf;
                    width: 190px;
                    height: 40px;
                    color: white;
                    position: relative;
                    top: 10px;
                    left: -95px;
                    padding: 8px;
                    border-radius: 8px;
                    text-align: center;

                    span {
                        text-align: center;
                        margin: auto;
                        font-weight: 900;
                    }
                }
            }
        }
    }

    .right-presale-panel {
        display: block !important;
        height: 90%;
        width: 32%;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;

        .navigation-icons {
            padding-left: 5%;

            a {
                text-decoration: unset;
            }

            i.fa {
                display: inline-block;
                font-size: 25px;
                color: #00fcfc;
                margin: 20px 10px;
            }

            i.fa:hover {
                cursor: pointer;
                border-radius: 50%;
                box-shadow: 0px 0px 10px #00fcfc;
            }
        }
    }

    .button-container {
        text-align: center;
        display: block;

        .button {
            display: inline-block;
            margin: 20px 10px 10px 10px;
            border: none;
            background: #045daf;
            color: white;
            cursor: pointer;
            width: 336px;
            padding: 20px;
            height: 110px;
            padding-top: 25px;

            div {
                margin: auto;

                span {
                    font-family: 'Helvetica Neue Bold',HelveticaNeue-Bold;
                    margin: auto;
                    font-size: 24px;
                    display: block;
                }

                span + span {
                    font-family: 'Helvetica Neue Light',HelveticaNeue-Light;
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 7px;
                }
            }
        }

        .button-blue {
            background: #045daf;
            color: white;
        }

        .button-white {
            background: white;
            color: #045daf;
        }
    }

    @media (max-width: 768px) {
        .button-div {
            margin-bottom: 30px;
        }
    }

    .text-container {
        text-align: center;
        z-index: 1000;
        width: 100%;
        position: relative;
        padding: 0;
        margin: auto;
        margin-left: auto !important;

        h1 {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            font-size: 37pt;
            color: #00fcfc;
            margin: 20pt;
        }

        h2 {
            font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
            letter-spacing: 2px;
            font-size: 32px !important;
            color: white;
            margin: 0;
        }

        .box-title {
            margin-top: 30px;
            color: #002D78 !important;
            font-size: 22px !important;
        }

        h3 {
            font-family: "Helvetica Neue Light","HelveticaNeue-Light";
            font-size: 13pt !important;
            color: white;
            margin: 0;
        }

        @media (min-width:420px) {
            br {
                display: none;
            }
        }

        @media (max-width: 768px) {
            text-align: center;
            width: 100%;

            h1 {
                font-size: 27pt;
            }

            h2 {
                font-size: 30px !important;
            }

            h3 {
                font-size: 10pt !important;
            }
        }
    }

    .row-container {
        @media(max-width:991px) {
            margin: 20px;
        }
    }

    .portview-container {
        margin-top: 160px;

        @media(max-width: 991px) {
            margin-top: 80px;
        }

        .transparent {
            background: rgba(256,256,256, 0.2);
            padding-top: 30px;
            margin-top: -30px;

            @media(max-width: 991px) {
                margin-bottom: 25px;
                padding-bottom: 20px;
                margin-top: 20px;
            }
        }
    }

    .why-invest {
        padding: 0 10px 0 30px;

        @media(max-width: 991px) {
            padding: 5px 30px;
        }

        ul {
            margin-top: 30px;
            margin-left: 0px;

            li {
                display: block;
                font: normal normal normal 20px/1 FontAwesome;
                font-size: 16px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-bottom: 15px;
            }

            li:before {
                content: "\f00c";
                padding-right: 10px;
                color: #34dce0;
            }
        }
    }

    .link-box {
        margin: 0 auto;
        height: 78px;
        width: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(0.9);

        @media(max-width:991px) {
            transform: scale(0.75);
        }
    }

    .rcn {
        background-image: url(../img/partners/rcn.png);
    }

    .cofoundit {
        background-image: url(../img/partners/cofoundit.svg);
    }

    .zrx {
        background-image: url(../img/partners/0x.png);
    }

    .bancor {
        background-image: url(../img/partners/bancor.png);
    }

    .timer {
        margin: 20px 0;
        text-align: center;
        overflow: hidden;

        @media(min-width:1200px) {
            br {
                display: none;
            }
        }
    }

    .timer > div {
        text-align: center;
        display: inline-block;
    }

    .time-part {
        display: block;
        width: 125px;
        margin: 0 20px;
    }

    .minutes {
        /*display:block;*/
    }

    .box {
        width: 125px;
        height: 130px;
        border: 2px solid #00fcfc;
        border-radius: 5px;
        display: inline-block;

        .time-value {
            font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
            font-size: 42px;
            line-height: 88px;
            color: #00fcfc;
        }

        .time-label {
            font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }

    @media (min-width: 768px) {
        /*.time-part.days:after,
        .time-part.hours:after {
            content: '';
            position: relative;
            width: 64px;
            height: 2px;
            background-color: #00fcfc;
            top: -68px;
            left: 138px;
            display: block;
        }*/
        /*.days:before {
            content: '';
            position: relative;
            height: 2px;
            background-color: #00fcfc;
            top: 64px;
            display: block;
            width: 1000px;
            right: 990px;
        }

        .seconds:after {
            width: 1000px;
            left: 138px;
        }*/
    }

    a.btn {
        position: relative;
        z-index: 1000;
        padding: 15px 0;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 18px;
        line-height: 0.89;
        letter-spacing: 0.7px;
        letter-spacing: 3px;
        background: #34dce0;
        color: #030387;
        cursor: pointer;
        max-width: 303px;
        margin: 10% auto;
        display: block;
        border-radius: 5px;
    }

    a.btn.focus, a.btn:focus {
        outline: none !important;
        box-shadow: none !important;
        -moz-outline-style: none !important;
    }

    @media (max-width: 768px) {
        a.btn {
            margin: 20px auto;
            padding: 15px 0 !important;
        }
    }

    a.btn:active, a.btn:focus {
        outline: 0;
        -moz-outline-style: none
    }

    .bottom-waves {
        min-height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-image: url("../img/presale/waves.png");
        pointer-events: none;
    }

    .modal .popup-title {
        text-align: center;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 26px;
        color: #002D78;
    }

    .modal .popup-subtitle {
        text-align: center;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 16px;
        color: #4D4D4D;
    }

    .modal-dialog {
        max-width: 600px !important;
    }

    .modal p {
        font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
        color: #4D4D4D;
        font-size: 14px;
    }

    .modal-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .modal-header {
        border-bottom: none !important;
    }

    @media (min-width: 768px) {
        .close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 40px;
        }
    }

    @media (max-width: 768px) {
        .close {
            position: absolute;
            left: 10px !important;
            top: 5px;
            font-size: 40px;
        }
    }

    .popup-footer {
        text-align: center;
        margin-bottom: 30px;

        .btn {
            padding: 15px 45px;
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 16pt;
            letter-spacing: 3px;
            background: #00B1FF;
            color: #002D78;
            cursor: pointer;
            margin: 20px auto;
            display: block;
            border-radius: 5px;
        }

        .copy-button {
            display: none;
            min-width: 300px;
        }
    }

    .address-copy {
        .instruction {
            padding-top: 10px;
        }

        .ens-address {
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        }

        .separator {
            font-size: 18px;
            text-align: center;
            font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
        }

        @media (min-width: 768px) {
            .separator:before {
                content: '';
                display: block;
                width: 90px;
                height: 1px;
                background: #6f6e6e;
                position: absolute;
                left: 185px;
                top: 161px;
            }

            .separator:after {
                content: '';
                display: block;
                width: 90px;
                height: 1px;
                background: #6f6e6e;
                position: absolute;
                left: 320px;
                top: 161px;
            }
        }

        p.text-box {
            text-align: center;

            input {
                width: 500px;
                padding: 10px;
                text-align: center;
                font-size: 14pt;
                font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
                outline: none;
                border: 1px solid #4D4D4D;

                @media(max-width:650px) {
                    width: calc(100% + 80px);
                    margin-right: -40px;
                    margin-left: -40px;
                }

                @media(max-width:530px) {
                    font-size: 12px;
                }
            }
        }
    }
}

.circle-logo {
	width: 100%;
	max-width: 660px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -115px;
	margin-bottom: 10px;

	@media (max-width: 700px ) {
		margin-top: -40px;
	}

	@media (max-width: 500px ) {
		margin-left: calc(50% - 250px);
	}
}

section.as-seen-on.tokensale {
	background: #1e2e4b;
	padding-top: 5rem !important;
}

section.supported-by.tokensale {
	background: #1e2e4b;
	padding-top: 5rem !important;
	margin-top: -95px;

	@media (min-width: 1400px) {
		margin-top: -100px !important;
	}

	.links .link-box {
		filter: none;
	}

	h2 {
		color: white;
	}
}

@media (min-width: 1400px) {
	section.as-seen-on {
		.left-blue-div {
			background: linear-gradient(-360deg, #366294, #1e2e4b);
			width: 4000px !important;
            min-width: 145%;
			height: 1350px !important;
			right: -90% !important;
			top: -340% !important;
		}

		.top-white-div {
			left: -100% !important;
			width: 4000px !important;
		}
	}
}

section.as-seen-on {
    padding-top: 8rem !important;
    padding-bottom: 6.5rem;
    overflow: hidden;

    .section-heading {
        margin-bottom: 0px !important;
    }

    @media (max-width: 991px) {
        .left-blue-div {
            display: none;
        }

        .right-blue-div {
            display: none;
        }

        background: linear-gradient(-360deg, #366294, #1e2e4b);
        background: -webkit-linear-gradient(-360deg, #366294, #1e2e4b); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(-360deg, #366294, #1e2e4b); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-360deg, #366294, #1e2e4b); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-360deg, #366294, #1e2e4b); /* Standard syntax */
        padding-top: 2rem !important;

        .link-box {
            transform: scale(0.75);
        }
    }

    .left-blue-div {
        background: linear-gradient(-360deg, #366294, #1e2e4b);
        background: -webkit-linear-gradient(-360deg, #366294, #1e2e4b); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(-360deg, #366294, #1e2e4b); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-360deg, #366294, #1e2e4b); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-360deg, #366294, #1e2e4b); /* Standard syntax */
        width: 2000px;
        height: 350px;
        position: absolute;
        transform: rotate(184deg);
        right: -20%;
        top: -140%;
        z-index: -1;
    }

    .right-blue-div {
        background: linear-gradient(5deg, #24a6e8, #06d2d7);
        background: -webkit-linear-gradient(5deg, #24a6e8, #06d2d7); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(5deg, #24a6e8, #06d2d7); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(5deg, #24a6e8, #06d2d7); /* For Firefox 3.6 to 15 */
        background: linear-gradient(5deg, #24a6e8, #06d2d7); /* Standard syntax */
        width: 2000px;
        height: 200px;
        position: absolute;
        right: 50%;
        top: 38%;
        z-index: -2;
        transform: rotate(174deg);
    }

    .top-white-div {
        background: #fafafa;
        width: 2000px;
        height: 140px;
        position: absolute;
        top: -200%;
        left: -50%;
        z-index: 5;
    }

    h2 {
        color: #ffffff;
    }

    .links {
        align-content: center;

        @media (max-width: 648px) {
            padding: 20px 15px;
        }

        .link-box {
            margin: 0 auto 30px auto;
            height: 100px;
            width: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .venturebeat {
            background-image: url(../img/presale/venturebeat.png);
        }

        .reuters {
            background-image: url(../img/presale/reuters.png);
        }

        .cnbc {
            background-image: url(../img/presale/cnbc.png);
        }

        .bloomberg {
            background-image: url(../img/presale/bloomberg.png);
        }

        .investopedia {
            background-image: url(../img/presale/investopedia.png);
        }

        .cointelegraph {
            background-image: url(../img/presale/cointelegraph.png);
        }

        .bitcoinist {
            background-image: url(../img/presale/bitcoinist.png);
        }
    }
}

section.resources {
    padding-top: 5rem !important;
    padding-bottom: 2rem !important;
    //min-height: 1000px;
    //background-color: white;
    .resource-card {
        vertical-align: top;
        background: white;
        max-width: 480px;
        min-height: 340px;
        -webkit-box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        -moz-box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        box-shadow: 0px 15px 30px -2px rgba(15,46,114,0.7);
        display: inline-block;
        border-radius: 5px;
        border: 1px solid rgb(216,216,216);
        margin: 30px;

        .dots {
            width: 80px;
            left: calc(50% - 40px);
            position: relative;
        }

        .resource-card-title {
            padding-top: 25px;
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: bold;
            color: rgb(3,3,135);
        }

        .resource-img {
            display: inline-block;
            padding-left: 30px;
            padding-right: 30px;

            @media(min-width:473px) {
                float: left;
            }
        }

        .resource-content {
            display: inline-block;
            width: 100%;
        }

        .whitepaper-resource-description, .presentation-resource-description {
            font-size: 18px;
        }

        .whitepaper-resource-description {
            padding: 40px 30px;
        }

        .presentation-resource-description {
            padding: 30px 30px;
        }

        .download-button {
            position: relative;
            z-index: 1000;
            padding: 10px 10px;
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 16pt;
            letter-spacing: 3px;
            background: #030387;
            color: #00fcfc;
            cursor: pointer;
            border: 0;
            border-radius: 3px;
            max-width: 250px;
            margin: 25px auto;
            display: block;
        }
    }

    .blue-box {
        background-image: linear-gradient(252deg, #0f64f4, #24a4e9);
        border-radius: 5px;
		min-height: 160px;
        .presentation, .whitepaper {
            z-index: 1000 !important;
        }

        @media(max-width:991px) {
            margin-left: 5px;
            margin-bottom: 20px;
			padding-right: 0px;

			.presentation, .whitepaper {
				padding-top: 20px;
				padding-bottom: 20px;
            }
			
			
        }

        @media(min-width:991px) {
			padding-right: 50px;
			margin-left: 40px!important;
			margin-right: 40px!important;

            .presentation, .whitepaper {
				padding-top: 30px;
                left: 50px;
                position: absolute;
            }

            h3 {
				padding-top: 30px;
                text-align: left;
            }
		}
		
		.mini-waves {
			left: 0;
			position: absolute;
		}

        h3 {
            font-size: 20px;
            color: #fff;
        }

        a {
            margin-top: 5px;
            background: #fff;
            padding: 15px;
            width: 100%;
            color: #00BDFF;
            font-size: 18px;
            font-weight: bold;
		}
    }

    @media (min-width: 480px) {
        .resource-card {
            width: 400px;
        }
    }

    @media (min-width: 560px) {
        .resource-card {
            width: 480px;
        }
    }
}

.background-resources {
	position: relative;
	overflow: hidden;

	.background-resources-first,
	.background-resources-second {
		display: block;
		width: calc(100% + 800px);
		position: absolute;
		height: calc(100% - 100px);
		z-index: -1;
		top: 460px;
		left: -400px;
		background: #0884cd; /* For browsers that do not support gradients */
	}

	.background-resources-first {
		transform: rotate(10deg);
		background: -webkit-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Safari 5.1 to 6.0  60%*/
		background: -o-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(-10deg, #075cee 45%,#0abcd7 75%); /* Standard syntax */
	}

	.background-resources-second {
		transform: rotate(-10deg);
		background: -webkit-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Safari 5.1 to 6.0  60%*/
		background: -o-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(10deg, #075cee 45%,#0abcd7 75%); /* Standard syntax */
	}
}

footer.presale-footer {
	position: unset;
	margin-bottom: 70px;
}

section.faq .text-center {
	margin-top: 35px;
}

section.faq .text-center a {
	color: #09d8ba;
	font-weight: bold;
}

section.economics {
	padding-bottom: 4em;
	position: relative;
	overflow: hidden;

	h2 {
		font-size: 36px;
		color: #FFFFFF;
	}

	h4 {
		color: #FFFFFF;
		font-size: 28px;
		line-height: 1.29;
		letter-spacing: 1.9px;

		span {
			font-size: 18px;
		}
	}

	h6 {
		font-size: 16px;
		color: #2AC4D8;
		line-height: 2.25;
		letter-spacing: 1.1px;
	}

	.row {
		padding-bottom: 4em;
	}

	.left-blue-div {
		position: absolute;
		background: linear-gradient(108deg, #0565ba, #0884cd);
		background: -webkit-linear-gradient(108deg, #0565ba, #0884cd); /* For Safari 5.1 to 6.0  60%*/
		background: -o-linear-gradient(108deg, #0565ba, #0884cd); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(108deg, #0565ba, #0884cd); /* For Firefox 3.6 to 15 */
		background: linear-gradient(108deg, #0565ba, #0884cd); /* Standard syntax */
		transform: rotate(184deg);
		left: -20%;
		width: 120%;
		height: 2000px;

		@media (min-width: 1980px) {
			left: -45%;
			width: 145%;
		}
	}
}

section.distribution {

    .row-container {
        @media(max-width:991px) {
            flex-direction: column-reverse;
        }
    }

    @media(max-width:991px) {
        padding-top: 2rem !important;

        h2 {
            font-size: 19px !important;
            text-align: center;
        }
    }

    padding-bottom: 4em;
    position: relative;
    overflow: hidden;

    h2 {
        font-size: 26px;
    }

    li {
        padding: 5px;
    }

    img {
        width: 99%;
    }

    .item-box {
        padding: 20px;
    }

    .strong-token-title {
        margin-bottom: 2px !important;
    }

    .strong-token-subtitle {
        font-size: 16px !important;
    }
}
