section.products {
    min-height: 654px;
    width: 100%;
    position: relative;
    background: #1c1c1c;

    @media(max-width:1110px) {
        height: unset;
    }

    .container {
        height: 100%;
        min-height: 654px;

        @media(max-width:1110px) {
            height: unset;
        }
    }


    .product-box {
        @media(min-width:1111px) {
            max-width: 380px;
            position: absolute;
        }

        @media(max-width:1110px) {
            padding-top: 60px;
        }

        line-height: 26px;

        > * {
            margin-bottom: 32px;

            @media(max-width:1110px) {
                margin-bottom: 26px;
                font-size: 14px;
            }
        }

        h2 {
            font-size: 38px;
            letter-spacing: 2px;

            @media(max-width:1110px) {
                font-size: 26px;
            }
        }
    }

    .product-box.experts {
        @media(min-width:1111px) {
            top: 25%;
            left: 10%;
        }

        .googleplay-button {
            background-image: url("../img/global/googlePlay.png");
            width: 220px;
            height: 90px;
            background-size: cover;
            background-position-x: right; 
        }

        .learn-more {
            border: 1px solid white;
            padding: 16px 20px;
            width: 300px;
            text-align:center;

            @media(max-width:1110px) {
                padding: 7px 15px;
                font-size: 10px;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
            }

            img {
                margin-left: 20px;
            }
        }
    }

    .product-box.portfolio {
        padding-bottom:60px;
        @media(min-width:1111px) {
            top: 38%;
            right: 10%;
        }



        .download {
            @media(max-width:1110px) {
                font-size: 12px;
            }

            span {
                font-family: "Gilroy-Medium";
                letter-spacing: 2px;
            }

            img {
                margin-left: 20px;
                margin-top: -5px;
            }

            hr {
                border-top-color: white;
                height: 6px;
                width: 120px;
                margin: 12px;

                @media(max-width:1110px) {
                    width: 105px;
                    margin: 4px;
                }
            }
        }
    }
}
