section.products {    
    background-color: #252525;

    .simulator-product {
        background-image: url("../img/products/simulator.png");
        background-size: cover;

        .go-to-product-btn {
            background-color: #4562fc;
            color: #ffffff;
            text-decoration: none;
        }
    }

    .trading-product {
        .go-to-product-btn {
            background-color: #45cb88;
            color: #252525;
        }

        img {
            position: absolute;
            right: 0;
            max-height: 100%;
            max-width: 300px;
            top: 100px;
            z-index: 0;
        }

        .product-details {    
            @media (max-width: 991px) {
                margin-top: 80px;
                height: unset;
            }
        }
    }

    .product-details {
        width: 360px;
        max-width: calc(100% - 30px);
        margin: auto;
        margin-top: 140px;
        margin-bottom: 80px;
        height: calc(100% - 220px);
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 41px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: 1.03px;
        text-align: center;
        color: #ffffff;
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        margin-top: 60px;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: 0.75px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 35px;
    }

    p {
        font-size: 18.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.51;
        letter-spacing: 0.46px;
        text-align: left;
        color: #fefefe;        
        margin-bottom: 25px;
    }

    .green-highlight {
        color: #50d693;
        max-width: 240px;
    }

    .go-to-product-btn {
        width: 260px;
        height: 60px;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.43px;
        text-align: center;    
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .go-to-product-btn:hover {
        opacity: 0.85;
    }
}
