section.roadmap {
    background-color: #141414;
    position: relative;

    .container-roadmap {
        padding-top: 90px;

        @media (max-width: 600px) {
            padding-top: 50px; 
        }
    }

    h2 {
        font-size: 37.5px;
        font-weight: 600;
        line-height: 1.12;
        letter-spacing: 0.9px;
        text-align: center;
        color: #ffffff;
    }

    .scrollable {
        margin-top: 100px;
        width: 100%;
        position: relative;
        overflow-x: hidden;

        @media (max-width: 992px) {
            overflow-x: auto;
        }
    }

    .scrollable.smooth {
        scroll-behavior: smooth;
    }



    .timeline {
        * {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
        }

        .year-box {
            display: inline-block;
            width: 1200px;
            height: 360px;
            padding-right: 0.5px;
            border-right: solid 0.5px #292929;

            > div {
                width: 100%;
            }

            .year-title {
                height: 60px;
                padding: 0 23px 0 10px;

                h2 {
                    text-align: left;
                    font-family: Gilroy-Medium;
                    font-style: italic;
                    font-size: 45px;
                    color: #242424;
                }
            }

            .quarter-titles {
                height: 105px;
                border-bottom: solid 1px #d9d9d9;
                font-style: italic;
                padding-top: 25px;

                h3 {
                    font-family: Gilroy-Medium;
                    font-size: 27px;
                }

                h5 {
                    font-size: 16px;
                }
            }

            .current > h3 {
                border-left: 4px solid #126efd;
                padding-left: 5px;
                margin-left: -10px;
            }

            .quarter-titles.current {
                background: #1b1b1b;
            }

            .past * {
                color: #595959;
            }

            .q-title {
                display: inline-block;
                width: 295px;
                height: calc(100% + 2px);
                position: relative;
                border-bottom: solid 4px transparent;
                padding-left: 7px;

                .circle {
                    position: absolute;
                    bottom: -7px;
                    left: -9px;
                    height: 10px;
                    width: 10px;
                    background: #141414;
                    border: solid 1px #d9d9d9;
                    border-radius: 50%;
                }
            }

            .q-title.past {
                border-bottom: solid 4px #595959;

                .circle {
                    border: solid 1px #595959;
                    background: #595959;
                }
            }

            .quarter-bullets {
                font-size: 14px;


                .q-bullet {
                    padding-top: 25px;
                    width: 295px;
                    display: inline-flex;

                    ul {
                        padding-left: 20px;

                        li {
                            font-size: 10px;

                            span {
                                font-size: 14px;
                            }
                        }

                        li + li {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
