section.roadmap {
    background-color: #f7f7f7;
    position: relative;
    min-height: 500px;
    height: unset;

    .container-roadmap {
        padding-top: 90px;
        font-size: 23.5px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.02;
        letter-spacing: 0.59px;
        text-align: left;
        color: #747474;

        @media (max-width: 600px) {
            padding-top: 50px;
        }
    }

    h2 {
        font-size: 41px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: 1.03px;
        text-align: center;
        color: #1b1b1b;
    }

    .scrollable {
        margin-top: 100px;
        width: 100%;
        position: relative;
        overflow-x: hidden;    
        max-width: 1440px;
        margin: auto;

        @media(max-width:600px) {
            overflow-x: auto;
            margin-top: 40px;
        }
    }

    .scrollable.smooth {
        scroll-behavior: smooth;
    }



    .timeline {
        * {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
        }

        .year-box {
            display: inline-block;
            height: 360px;
            padding-right: 0.5px;

            > div {
                width: 100%;
            }

            .year-title {
                height: 60px;
                padding: 0 23px 0 10px;

                h2 {
                    text-align: left;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 45px;
                    color: #242424;
                }
            }

            .quarter-titles {
                height: 75px;
                border-bottom: solid 2px #707070;;                
                font-style: italic;
                padding-top: 25px;
                display: flex;
                flex-direction: row;

                h3 {
                    font-size: 23.5px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.02;
                    letter-spacing: 0.59px;
                    text-align: left;
                    color: #747474;
                }

                h5 {
                    font-size: 16px;
                }
            }

            .current > h3 {
                font-weight: bold;
                color: #4562fc;
            }

            .quarter-titles.current {
                background: #1b1b1b;
            }

            .past * {
                color: #595959;
            }

            .q-title.last:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 7px solid #707070;
                right: -2px;
                position: absolute;
                margin-top: -11px;
            }

            .q-title.last {
                margin-right: 2px;
            }

            .q-title {
                display: inline-block;
                width: 285px;
                height: calc(100% + 2px);
                position: relative;
                border-bottom: solid 4px transparent;

                .circle {
                    position: absolute;
                    bottom: -11px;
                    left: -9px;
                    height: 18px;
                    width: 18px;
                    border-radius: 50%;
                    border: solid 2px #707070;
                    background-color: #f7f7f7;
                }
            }

            .q-title.empty {
                width: 92px;
                height: unset;
                margin-right: 8px;
            }

            .q-title.current .circle {
                border-color: #4562fc;
            }

            .q-title.current .circle:before {
                background-color: #4562fc;
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 50%;
                margin-top: 2px;
                margin-left: 2px;
            }

            .q-title.past {
                border-bottom: solid 4px #595959;

                .circle {
                    border: solid 1px #595959;
                    background: #595959;
                }
            }

            .quarter-bullets {
                font-size: 14px;
                position: relative;
                display: flex;
                flex-direction: row;

                .q-bullet {
                    padding-top: 25px;
                    width: 278px;
                    display: inline-flex;
                    margin-left: 7px;

                    span {
                        font-size: 19.5px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.44;
                        letter-spacing: normal;
                        text-align: left;
                        color: #666666;
                        padding: 13px;
                        border-left: solid 1px #707070;
                    }
                }

                .q-bullet.current span {
                    color: #1b1b1b;
                }

                .q-bullet.empty {
                    width: 92px;
                    padding: 0px;
                    height: 5px;
                    background-color: #4562fc;
                    margin-left: 0;
                    margin-top: -4px;
                }
            }
        }
    }
}
