section.smartcontract {
    @media (min-width: 768px) {
        .container {
            padding: 0 100px !important;
        }
    }

    margin-bottom: 100px;
    font-family: "Helvetica Neue","HelveticaNeue";
    
    .content {
        margin: auto;

        .title {
            text-align: left;
            font-size: 24px;
            font-weight: bold;
            color: #002D78;
        }

        .text-content {
            text-align: left;
            border-left: solid 4px #00BDFF;
            padding-left: 25px;
            margin: 20px 0;
        }
    }
}
