
section.supported-by {
    padding-top: 0rem !important;
    background: #fafafa;

    @media (max-width: 991px) {
        margin-top: 35px;
    }


    @media (min-height:1080px) {
        margin-top: -140px;
    }

    @media (min-width: 2000px) {
        margin-top: -230px;
    }

    .section-heading {
        position: relative;
        z-index: 1000;
    }

    .section-heading {
        margin-bottom: -5px !important;

        hr {
            width: 100px;
        }
    }

    .links {
        align-content: center;
        position: relative;
        z-index: 1000;

        @media (max-width: 648px) {
            padding: 20px 15px;
        }

        .link-box {
            margin: 0 auto 30px auto;
            height: 100px;
            width: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(72%);

            @media(max-width:991px) {
                transform: scale(0.75);
            }
        }

        .buy-link-box {
            margin: 0 auto;
            height: 120px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media(max-width:991px) {
                width: 250px;
            }
        }

        .rcn {
            background-image: url(../img/partners/rcn.png);
        }

        .cofoundit {
            background-image: url(../img/partners/cofoundit.svg);
        }

        .bluzelle {
            background-image: url(../img/partners/bluzelle.png);
        }

        .melon {
            background-image: url(../img/partners/melonport.png);
        }

        .request {
            background-image: url(../img/partners/request.png);
        }

        .zrx {
            background-image: url(../img/partners/0x.png);
        }

        .aragon {
            background-image: url(../img/partners/aragon.png);
        }

        .amadeus {
            background-image: url(../img/partners/amadeus.png);
        }

        .symetrics {
            background-image: url(../img/partners/symetrics.png);
        }

        .maker {
            background-image: url(../img/partners/makerdao.png);
        }

        .bancor {
            background-image: url(../img/tokensale/bancor.png);
        }

        .idex {
            background-image: url(../img/tokensale/idex.png);
        }

        .bitfinex {
            background-image: url(../img/tokensale/bitfinex.png)
        }

        .fork-delta {
            background-image: url(../img/tokensale/forkdelta.png);
        }

        .hitbtc {
            background-image: url(../img/tokensale/hitbtc.png);
        }

        .coinbene {
            background-image: url(../img/tokensale/coinbene.png);
        }
    }

    .where {
        margin-top: 4em;
    }
}



.without-margin-top{
    margin-top: 0px !important;

    @media (max-width: 991px) {
        margin-top: 0px !important;
    }

    @media (min-width:1400px) and (min-height:890px) {
        margin-top: 0px !important;
    }

    @media (min-height:1080px) {
        margin-top: 0px !important;
    }

    @media (min-width: 2000px) {
        margin-top: 0px !important;
    }

    @media (min-width: 1400px) and (max-width: 1999px) {
        margin-top: 0px !important;
    }
}
