
section.supported-by {
    padding-top: 4rem !important;
    margin-top: -295px;
    background: #fafafa;

    @media (max-width: 991px) {
        margin-top: 35px;
    }

    @media (min-width:1400px) and (min-height:890px) {
        margin-top: -210px
    }

    @media (min-height:1080px) {
        margin-top: -140px;
    }

    @media (min-width: 2000px) {
        margin-top: -230px;
    }

    @media (min-width: 1400px) and (max-width: 1999px) {
        margin-top: -330px;
    }

    .section-heading {
        position: relative;
        z-index: 1000;
    }

    h3 {
        margin-top: 45px;
        color: #00bdff;
    }

    .section-heading {
        margin-bottom: -20px !important;

        h2 {
            font-size: 20px;
        }

        h2.token-page {
            font-size: 40px;
        }
    }

    .links {
        align-content: center;
        position: relative;
        z-index: 1000;

        @media (max-width: 648px) {
            padding: 20px 15px;
        }

        .link-box {
            margin: 0 auto 30px auto;
            height: 100px;
            width: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(72%);

            @media(max-width:991px) {
                transform: scale(0.75);
            }
        }

        .rcn {
            background-image: url(../img/partners/rcn.png);
        }

        .cofoundit {
            background-image: url(../img/partners/cofoundit.svg);
        }

        .bancor {
            background-image: url(../img/partners/bancor.png);
        }

        .zrx {
            background-image: url(../img/partners/0x.png);
        }

        .aragon {
            background-image: url(../img/partners/aragon.png);
        }

        .amadeus {
            background-image: url(../img/partners/amadeus.png);
        }

        .symetrics {
            background-image: url(../img/partners/symetrics.png);
        }
    }
}

.without-margin-top{
    margin-top: 0px !important;

    @media (max-width: 991px) {
        margin-top: 0px !important;
    }

    @media (min-width:1400px) and (min-height:890px) {
        margin-top: 0px !important;
    }

    @media (min-height:1080px) {
        margin-top: 0px !important;
    }

    @media (min-width: 2000px) {
        margin-top: 0px !important;
    }

    @media (min-width: 1400px) and (max-width: 1999px) {
        margin-top: 0px !important;
    }
}
