// Styling for the features section
header.team-header {
    height: 85px;
    width: 100%;
    min-height: 0px;
    background: #fafafa; /* For browsers that do not support gradients */
    .text-container {
        padding-top: 150px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
        margin: auto;

        h1 {
            margin-bottom: 0px;
        }
    }
}

section.team {
    text-align: center;
    background: #03178d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(180deg,#03178d 36%,#0884cd 90%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(180deg,#03178d 36%,#0884cd 90%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg,#03178d 36%,#0884cd 90%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg,#03178d 36%,#0884cd 90%); /* Standard syntax */
    @media (max-width: 768px) {
        background: #0884cd; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(180deg, #03178d 36%,#0884cd 90%); /* For Safari 5.1 to 6.0  60%*/
        background: -o-linear-gradient(180deg, #03178d 36%,#0884cd 90%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(180deg, #03178d 36%,#0884cd 90%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(180deg, #03178d 36%,#0884cd 90%); /* Standard syntax */
    }

    padding-bottom: 4em;

    .section-heading {
        h2 {
            color: white;
        }

        h3 {
            color: white;
        }

        hr {
            border-top-color: #00bdff;
            width: 100px;
        }
    }

    .team-content {
        max-width: 1200px;
        margin: auto;
    }

    .team-card {
        margin: 20px 28px;
        width: 310px;
        position: relative;
        text-align: left;
        /*border: 1px solid #e6e6e6;
        border-radius: 7px;*/
        display: inline-block;
        vertical-align: top;
        max-height: 366px;

        @media (max-width: 768px) {
            margin: 25px 20px;
        }

        .expandable-card {
        }

        .card-picture-name {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background: white;
            border-radius: 5px 5px 0 0;
        }

        .card-picture {
            width: 200px;
            margin-top: 20px;
        }

        .card-name-position-linkedin {
            text-decoration: none;
            width: 100%;
            margin: 20px;
            outline-color: white;
        }

        .card-name-position {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            width: calc(100% - 40px);
        }

        .card-linkedin {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #00bdff;
            font-size: 20px;
            display: inline-block;
            border: 2px solid #00bdff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            padding-top: 3px;
        }

        .card-behance {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #00bdff;
            font-size: 20px;
            display: inline-block;
            border: 2px solid #00bdff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            padding-top: 3px;
            display: inline-block;
        }

        .card-name {
            font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
            font-size: 26px !important;
            line-height: 24px;
            color: rgba(0, 45, 120, 1);
            margin-bottom: 5px;
        }

        .card-position {
            font-size: 14px !important;
            color: black;
        }

        .card-description {
            display: inline-block;
            width: 100%;

            .dots {
                height: 10px;
                width: 50%;
                margin: auto;
            }
        }

        .card-description-content {
            font-size: 15px;
            text-align: left;
            padding: 15px;
            height: auto;
            background: white;
        }

        .expand-content, .shrink-content {
            text-align: center;
            color: #00bdff;
            font-weight: bold;
            font-size: 40px;
            margin-top: -15px;
            background-color: white;
            border-radius: 5px;

            span {
                cursor: pointer;
            }
        }

        .shrink-content {
            display: none;
        }
    }

    .team-card.show {
        visibility: visible !important;
        opacity: 1;
        transition: all 1s;
        z-index: 10;
    }

    .name {
        margin-top: 10px;
        font-family: 'Helvetica Neue Bold','HelveticaNeue-Bold';
        font-size: 20px;
    }

    .position {
        font-family: 'Helvetica Neue Light','HelveticaNeue-Light';
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 60px;
    }

    .modal-back-panel {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 54, 179, 0.5);
        z-index: 5;
        visibility: hidden;
        opacity: 0;
    }

    .modal-back-panel.show {
        visibility: visible !important;
        opacity: 1;
        transition: all 1s;
    }

    .horizontal-scroll {
        z-index: 20005;

        .team-card {
            z-index: 10005;
        }

        .modal-card {
            margin: 0;
            width: calc(100% + 15px);
            height: 100%;
            background-color: white;
            max-height: 100%;
            padding-top: 40px;
            overflow-y: scroll;

            .card-linkedin {
                margin: 35px;
            }

            .card-description-content {
                padding: 15px 35px;
            }
        }
    }
}

.slick-dots li button:before {
    color: white;
    opacity: .85;
}


.slick-dots li button:before {
    font-size: 26px !important;
}

.remove-padding {
    padding-top: 0;
}
