// Styling for the features section
header.team-header {
    height: 85px;
    width: 100%;
    min-height: 0px;
    background: #fafafa; /* For browsers that do not support gradients */
    .text-container {
        padding-top: 150px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
        margin: auto;

        h1 {
            margin-bottom: 0px;
        }
    }
}

section.token-model {
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 4em;
    position: relative;

    .background {
        position: absolute;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        bottom: 0;
        top: 0;

        .figure {
            position: absolute;
        }
    }

    .section-heading {
        position: relative;

        hr {
            border-top-color: #00bdff;
            width: 100px;
        }
    }

    .initial-text {
        width: 55%;
        margin: auto;
        margin-bottom: 80px;
        position: relative;
        background: rgba(250, 250, 250, 0.7);
        box-shadow: 0px 0px 30px 1px #fafafa;

        @media (max-width:992px) {
            width: 85%;
        }
    }

    .flow-container {
        position: relative;

        .explanation {
            color: #022d77;
            width: 365px;
            position: absolute;
            text-align: left;

            @media (max-width:992px) {
                position: unset;
                text-align: center;
                margin: auto;
                margin-bottom: 30px;
                width: 85%;
            }

            .explanation-title {
                font-family: HelveticaNeueBold, 'Helvetica Neue Bold',sans-serif;
                font-size: 22px;
                font-weight: bold;
            }

            div {
                background-color: rgba(250,250,250, 0.7);
                box-shadow: 0px 0px 30px 1px #fafafa;
            }
        }

        .explanation:first-child {
            top: 75px;
            left: calc(50% + 108px);

            @media (min-width:993px) {
                div {
                    margin-left: 30px;
                }
            }
        }

        .explanation:nth-child(2) {
            top: 455px;
            right: calc(50% + 175px);

            div {
                margin-left: 0px;
            }
        }

        .explanation:nth-child(3) {
            top: 885px;
            left: calc(50% + 90px);

            @media (min-width:993px) {
                width: 420px;

                div {
                    margin-left: 80px;
                }
            }
        }

        hr {
            width: 377px;
            border-top: 1px solid #022d77;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;

            @media (max-width:992px) {
                width: 90%;
            }
        }
    }
}
