section.token {
    padding-top: 115px;

    img {
        height: 64px;
    }

    @media(max-width:600px) {
        padding-top: 55px;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;
        line-height: 2.02;
        letter-spacing: 0.59px;
        text-align: center;
        color: #4562fc;
    }

    h1 {
        font-size: 41px;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: 1.03px;
        text-align: center;
        color: #1b1b1b;
    }

    h3 {
        max-width: 440px;
        margin: auto;
        font-size: 19.5px;
        line-height: 1.44;
        text-align: center;
        color: #666666;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    p {
        font-size: 18.5px;
        line-height: 1.51;
        text-align: center;
        color: #1b1b1b;
        max-width: 280px;
        margin: 40px auto;
    }
    
    .arrow-link-wrapper {
        margin: auto;
    }

    .arrow-link {
        font-size: 16px;
        font-weight: 500;
        color: #1782fc;
        text-decoration: none;
        cursor: pointer;
        display: block;
        margin-bottom: 32px;
    }

    .arrow-link i {
        margin-left: 6px;
        line-height: 1;
    }
}
