section.token {
    padding-top: 155px;
    padding-bottom: 100px;

    img {
        height: 39px;
        margin-right: 38px;
    }

    @media(max-width:600px) {
        padding-top: 55px;
    }

    h2 {
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.33px;
        color: #5de9d4;
    }

    h1 {
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.7px;
        color: #ffffff;
        margin-top: 8px;
    }

    h3 {
        font-size: 16px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        max-width: 260px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .auc-token-items-col {
        padding-top: 170px;
    }

    .auc-token-item {    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 60px;
    }

    p {
        font-size: 16px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        max-width: 310px;
        margin: auto 0;
    }
}
