// Styling for the timeline section
section.transparency {

    .good-practice-item {
        width: 340px;
        max-width: calc(100% - 20px);
        //min-height: 210px;
        display: inline-block;
        text-align: center;
        margin: 0px auto 20px auto;
        //margin-right: auto;

        img{
            height:100px;
        }
    }

    .item-title {
        font-family: 'Helvetica Neue Bold';
        font-size: 16px;
        color: #1439af;
    }

    .item-subtitle {
        font-size: 14px;
    }
}