.blue-background {
    background: #0884cd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Safari 5.1 to 6.0  60%*/
    background: -o-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(140deg, #04148c 25%, #0884cd 75%); /* Standard syntax */
    display: block;
    width: 100%;
    position: absolute;
    height: calc(100% - 500px);
    z-index: -1;
    top: 500px;
}

.video-iframe {
    box-shadow: 0 15px 30px -2px rgba(15,46,114,.7);
    width: 90%;
    height: 400px;
}


@media (min-width: 820px) {
    .video-iframe {
        width: 800px;
        height: 400px;
    }

    .video-html5 {
        width: 712px;
        height: 400px;
    }
}
