section.where-to-buy {
    text-align: center;
    height: unset;
    padding: 70px 0 ;

    @media(max-width:992px) {
        padding-bottom: 60px;
    }

    h2 {
        font-size: 41px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: 1.03px;
        text-align: center;
        color: #1b1b1b;
        margin-bottom: 50px;
    }

    .exchanges {
        margin-top: 45px;
        display: flex;
        @media(max-width:992px) {
            text-align: center; 
            flex-direction: column;

            a + a {
                margin-top: 45px;
            }
        }

        @media(min-width:993px) {
            justify-content: center;

            a {
                align-self: flex-end;
                margin: 0 40px;
            }
        }

        img {
            max-width: 100%;
        }
    }
}
