section.where-to-buy {
    text-align: center;
    height: unset;
    padding: 80px 0 ;

    @media(max-width:992px) {
        padding-bottom: 60px;
    }

    h2 {
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #ffffff;
    }

    .exchanges {
        margin-top: 60px;
        display: flex;
        @media(max-width:992px) {
            text-align: center; 
            flex-direction: column;

            a + a {
                margin-top: 45px;
            }
        }

        @media(min-width:993px) {
            justify-content: center;

            a {
                align-self: flex-start;
                margin: 0 40px;
            }
        }

        img {
            max-width: 100%;
        }
    }
}
