section.why-use {
    .container-fluid {
        width: 100%;
        max-width: 1440px;
        margin-bottom: 36px;
    }

    text-align: inherit;

    .why-row{
        border-top: solid 1px #94949480;
        align-items: center;
        min-height: 100px;
        max-width: 1000px;
        margin: auto;
    }

    .why-title {
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #ffffff;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .why-item {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: normal;
        color: #5de9d4;
        margin-left: 20px;
    }

    .why-item-desc {
        font-size: 15.5px;
        font-weight: 100;
        letter-spacing: 0.39px;
        text-align: left;
        color: #ffffff;
        max-width: 340px;
        margin-left: 20px;
    }
}