@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy-LightItalic';
  src: url("../fonts/Gilroy/Gilroy-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"); }
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gilroy-Light','GilroyLight','Gilroy Light','Gill Sans Light', Calibri, 'Trebuchet MS', sans-serif;
  color: white; }

a {
  cursor: pointer;
  color: inherit !important; }

@media (min-width: 576px) and (max-width: 600px) {
  .container {
    width: unset;
    max-width: unset; } }

.center {
  text-align: center; }

@media (max-width: 600px) {
  .web-only {
    display: none !important; } }
@media (min-width: 601px) {
  .mobile-only {
    display: none !important; } }
a:hover {
  text-decoration: none !important; }

header.masthead {
  width: 100%;
  height: 110%;
  background-repeat: no-repeat;
  min-height: 550px;
  max-height: 850px; }
  @media (max-width: 600px) {
    header.masthead {
      height: 310px; } }
  header.masthead .top-menu {
    position: absolute;
    width: 100%;
    top: 30px;
    padding: 0 90px;
    margin-left: -15px; }
    header.masthead .top-menu img {
      height: 37px; }
    header.masthead .top-menu div {
      display: inline-block; }
    header.masthead .top-menu > div:first-child img {
      margin-right: 80px; }
    header.masthead .top-menu > div:first-child div {
      padding: 10px 10px;
      margin-right: 10px; }
    header.masthead .top-menu > div:first-child div:last-child {
      margin-right: 0px; }
    header.masthead .top-menu > div:first-child div.active {
      border-bottom: 2px solid #126efd; }
    header.masthead .top-menu > div:last-child div {
      font-size: 20px;
      padding: 10px; }
      @media (max-width: 600px) {
        header.masthead .top-menu > div:last-child div {
          font-size: 16px;
          padding: 8px 12px; } }
    header.masthead .top-menu a {
      color: white; }
    header.masthead .top-menu i {
      color: #b7b7b7; }
    @media (max-width: 800px) {
      header.masthead .top-menu {
        padding: 0 20px; }
        header.masthead .top-menu > div:first-child img {
          margin-right: 40px; } }
    @media (max-width: 600px) {
      header.masthead .top-menu {
        padding: 0 5px;
        font-size: 10px;
        top: 15px; } }
  header.masthead .container {
    height: 100%;
    padding-top: 15%;
    position: relative; }
    @media (max-width: 600px) {
      header.masthead .container {
        padding-top: 40px; } }
    header.masthead .container .message-panel {
      position: absolute;
      top: 25%;
      left: 15%;
      max-width: 500px;
      width: 70%; }
      header.masthead .container .message-panel h1 {
        font-family: Gilroy-Bold;
        font-size: 48px;
        font-weight: 900;
        line-height: 1.16;
        letter-spacing: 1.03px;
        color: #1b1b1b; }
      header.masthead .container .message-panel span {
        max-width: 320px;
        display: block;
        font-family: Gilroy-Regular;
        font-size: 22px;
        line-height: 1.55;
        letter-spacing: normal;
        color: #1b1b1b; }
        @media (max-width: 600px) {
          header.masthead .container .message-panel span {
            font-size: 16px; } }
      @media (max-width: 600px) {
        header.masthead .container .message-panel {
          left: unset;
          text-align: center;
          margin: auto;
          width: 90%;
          position: relative;
          top: unset; }
          header.masthead .container .message-panel span {
            margin: auto; }
          header.masthead .container .message-panel h1 {
            font-size: 30px; } }
  header.masthead .connection-line {
    z-index: 10;
    position: relative; }
    header.masthead .connection-line div {
      margin: -120px auto;
      background-color: white;
      height: 180px;
      width: 1px; }
      @media (max-width: 600px) {
        header.masthead .connection-line div {
          margin: -60px auto;
          height: 90px; } }

/*# sourceMappingURL=style.css.map */
